@import 'react-image-gallery/styles/css/image-gallery.css';

.image-gallery-slide img {
    width: auto;
    height: 60vh;
}

.fullscreen .image-gallery-slide img {
    width: auto;
    height: 100vh;
}

.ui.attached.header.normal {
    font-weight: normal;
}

input[type="file"]#upload-choices {
    display: none;
}

.ui.image .image-gallery-image img {
    height: 65vh;
}

.ui.image .fullscreen .image-gallery-image img {
    height: 100vh;
}

.reset.link {
    color: rgb(65, 131, 196);
    text-decoration: underline;
    padding: .78571429em .92857143em;
    margin: 0 .35714286em;
    transition: color .1s ease;
    border-radius: .28571429rem;
}

.reset.link:hover {
    cursor: pointer;
    background: rgba(0,0,0,.05);
}