@media print {
    body, main {
        display: block!important;
    }

    main, .ui.container {
        margin-top: 0!important;
    }

    .ui.grid {
        margin-top: 0!important;
        margin-bottom: 0!important;
        margin-left: 0!important;
        margin-right: 0!important;
    }

    .ui.grid, .ui.grid>.row, .ui.grid>.row>.column {
        display: block!important;
    }

    .top.menu, .secondary.menu, .ui.breadcrumb, #fm-header-toolbar, #fm-toolbar-wrapper, button, i, footer {
        display: none!important;
    }

    .ui.grid>.row>[class*="eight wide"].column.block {
        width: 100%!important;
    }

    .column.block .ui.attached.header {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .column.block .ui.attached {
        border: none;
    }

    .row .column.block {
        page-break-inside: avoid;
        break-inside: avoid;
    }

}
