/*override materialize css radio button styling in flexmonster's pivot table */
.fm-select select {
    display: inline-block;
}
/** CHARTS **/
.fm-charts-color-1 {
    fill: #F15854 !important;
}

.fm-charts-color-2 {
    fill: #5DA5DA !important;
}

.fm-charts-color-3 {
    fill: #FAA43A !important;
}

.fm-charts-color-4 {
    fill: #60BD68 !important;
}

.fm-charts-color-5 {
    fill: #F17CB0 !important;
}

.fm-charts-color-6 {
    fill: #B2912F !important;
}

.fm-charts-color-7 {
    fill: #B276B2 !important;
}

.fm-charts-color-8 {
    fill: #DECF3F !important;
}

.fm-charts-color-9 {
    fill: #4D4D4D !important;
}

.fm-charts-color-10 {
    fill: none;
}

/* tab icons */
#fm-toolbar-wrapper #fm-tab-refresh > a {
    /* background-image: url(link to refresh image); */
}