@charset "UTF-8";

@media print {
    body, main {
        display: block!important;
    }

    main, .ui.container {
        margin-top: 0!important;
    }

    .fixed.menu, .ui.breadcrumb, .ui.button, i, footer {
        display: none!important;
    }

    .ui.title.header {
        margin-top: 1rem!important;
        padding-left: 1rem!important;
    }

    .ui.grid, .ui.grid>.row>.column {
        display: block!important;
    }

    .column>.ui.grid {
        margin-bottom: 0!important;
    }

    .column {
        padding-top: 0!important;
        padding-bottom: 0!important;
    }

    .ui.column.grid>.column {
        page-break-inside: avoid;
        break-inside: avoid;
    }

    .column .ui.inverted.attached.header {
        background: rgba(255,255,255,.1)!important;
        color: rgba(0,0,0,.87)!important;
    }

    .column .ui.attached {
        border: none;
    }

    .column .ui.attached.segment {
        padding-top: 0!important;
    }
}