<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/main::head"></div>
<body>
<main>
    <div th:replace="fragments/main::nav"></div>

    <div class="navbar-fixed z2">
        <nav id="nav_f" class="default_color" role="navigation" style="overflow: auto">
            <div class="container">
                <div class="nav-wrapper">
                    <a class="breadcrumb light" th:href="@{/user/view/}" th:text="${user.fullName}">Name</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="progress" style="margin: 0; display:none;">
        <div class="indeterminate"></div>
    </div>

    <div class="container padded">
        <div class="row">
            <form id="credits-form">
                <div class="col s12"><h5 class="span_h2">Buy Credits</h5></div>

                <div class="input-field col s12">
                    <input id="credits" name="credits" type="number" required="true" value="1"
                           class="right-align"/>
                    <label id="credits-label" for="credits">No of Credits</label>
                </div>

                <div class="col s12">
                    <button id="credits-submit" class="btn waves-effect waves-light green" type="submit">
                        Prepare Bill
                        <i class="white-text material-icons left">done</i>
                    </button>
                    <a id="back" class="waves-effect waves-light btn orange white-text"
                       th:href="@{/user/view/}">
                        <i class="material-icons left">cancel</i>Cancel
                    </a>
                </div>
            </form>
        </div>
        <div class="row">
            <form id="bill-form">
            </form>
        </div>
    </div>
</main>

<div th:replace="fragments/main::foot"></div>
<div th:replace="fragments/main::js"></div>
<div th:replace="fragments/user-template::billTemplate"></div>
<style>
    .z2 {
        overflow: visible;
        z-index: 2;
    }
</style>
<script th:src="@{/resources/js/user.js}"></script>
<script>
    var locale = navigator.language || navigator.userLanguage;
    var decimalFormatter = new Intl.NumberFormat(locale, { minimumFractionDigits: 2,  maximumFractionDigits: 2});
    $(document).ready(function() {
        $('#credits-form')
            .on('submit', function(event) {
                event.preventDefault();
                $('.progress').show();
                handleAuthenticatedRequest(prepareBill);
            });

        $('#bill-form').on('submit', function(e) {
            e.preventDefault();
            $('.progress').show();
            $('#buy-credits-submit').attr('disabled', true);
            handleAuthenticatedRequest(buyCredits);
        });
    });
</script>
<script th:inline="javascript" th:if="${insufficient}">
    var message = [[${insufficient}]];
    Materialize.toast(message, 3000);
</script>
</body>
</html>