<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="shared/header::head"></div>
<body>
<div th:replace="shared/menu::nav"></div>
<main style="margin-top: 5rem;" class="ui container">
    <div id="user-nag-view"></div>
</main>
<div id="modal-container"></div>
<script class="user-nag-template" type="text/x-underscore-template">
    <div>
        <div class="ui left aligned grid">
            <div class="column">
                <h2 class="ui top attached medium orange header">
                    Action required!
                </h2>
                <div class="ui attached segment">
                    <p>
                        We have temporarily deactivated your account until you verify
                        <strong>{{=user.username}}</strong>. We do this to protect you from bad people who might use
                        your email to access Hoji without your permission.
                        <a id="email-verification-link" href="#">Click here</a> to send yourself a new verification
                        link, then open your email and follow the instructions provided. If this is not your current
                        email, <a id="email-change-link" href="#">change it</a>.
                    </p>
                    <p>
                        <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/account-management/how-to-verify-your-email-address"
                           target="_blank">
                            Learn more about email verification
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</script>
<div th:replace="user/email-change-template::emailChangeTemplate"></div>
<div th:replace="shared/footer::foot"></div>
<div th:replace="shared/footer::js"></div>
<script th:inline="javascript">
    var user = [[${user}]];
</script>
<script th:src="@{/resources/js/user.nag.js}"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        refreshView();
    });
</script>
</body>
</html>