<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="shared/header::head"></div>

<body>
  <div th:replace="shared/menu::nav"></div>
  <main style="margin-top: 5rem;" class="ui container">
      <div class="ui sixteen wide column">
          <div id="take-a-tour" class="ui basic positive fluid button">Show me around</div>
      </div>
    <div id="user-view"></div>
  </main>
  <div th:replace="shared/message::message"></div>
  <div id="modal-container"></div>
  <script class="user-view-template" type="text/x-underscore-template">
    <div>
      <div style="margin-top: .2rem" class="ui grid">
        <div class="sixteen wide column">
          <h1 id="user-name" class="ui header title">
            {{=user.fullName}}
          </h1>
          <div class="ui right floated dropdown basic button more-actions">
            <div class="text more-actions">More actions</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div id="edit-user-button" class="item">
                Edit user
              </div>
              <div th:if="${!user.verified}" id="verify-email-button" class="item">
                Verify email
              </div>
              <div id="change-email-button" class="item">
                Change email
              </div>
              <div id="change-password-button" class="item">
                Change password
              </div>
              <div class="divider"></div>
              {{ if (user.id == tenant.id) { }}
              <div id="activate-sample-project-button" class="item">
                {{ if (user.publicSurveyAccess == 0) { }}
                Activate sample project
                {{ } else { }}
                Deactivate sample project
                {{ } }}
              </div>
              {{ } }}
              <div id="manage-webhooks-button" class="item">
                Manage webhooks
              </div>
            </div>
          </div>
          <button class="ui right floated orange collaborate button">Collaborate</button>
        </div>
      </div>
        <div class="ui segment object-attributes">
            <div class="ui three column equal width grid">
                <div class="column">
                    <table class="ui very basic table">
                        <tbody>
                        <tr>
                            <td>Email</td>
                            <td class="right aligned">
                                <a href="mailto:{{=user.email}}" target="_blank">{{=user.email}}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Telephone</td>
                            <td class="right aligned">
                                {{ if (user.telephone) { }}
                                {{=user.telephone}}
                                {{ } else { }}
                                Unavailable
                                {{ } }}
                            </td>
                        </tr>
                        <tr>
                            <td>Account No</td>
                            <td class="right aligned">{{=user.id}}</td>
                        </tr>
                        <tr>
                            <td>Account type</td>
                            <td class="right aligned">
                                {{ if (user.type == 1) { }}
                                Prepaid
                                {{ } else { }}
                                Postpaid
                                {{ } }}
                            </td>
                        </tr>
                        <tr>
                            <td>Account code</td>
                            <td class="right aligned">{{=user.code}}</td>
                        </tr>
                        <tr id="current-host">
                            <td>Current host</td>
                            <td class="right aligned">{{=tenant.fullName}} - {{=tenant.code}}</td>
                        </tr>
                        <tr>
                            <td class="single line">Number of collaborators</td>
                            <td class="right aligned">{{=collaborators.length}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ui computer only one wide column"></div>
                <div class="column">
                    <table class="ui very basic table">
                        <tbody>
                        <tr id="my-permissions">
                            <td class="single line">My permissions</td>
                            <td class="right aligned instructions">
                                <table class="ui very basic fixed single line table">
                                    <tbody>
                                    <tr>
                                        <td class="right aligned compact">
                                            {{ if (user.roles.length == 0) { }}
                                            NONE
                                            {{ } else { }}
                                            <span {{=renderRoles(user.roles).length>=64?'data-content="'+ renderRoles(user.roles) +'"': ''}}>{{=renderRoles(user.roles)}}</span>
                                            {{ } }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr id="default-permissions">
                            <td class="single line">Automatic permissions</td>
                            <td class="right aligned instructions">
                                <table class="ui very basic fixed single line table">
                                    <tbody>
                                    <tr>
                                        <td class="right aligned compact">
                                            {{ if (user.defaultRoles.length == 0) { }}
                                            NONE
                                            {{ } else { }}
                                            <span {{=renderRoles(user.defaultRoles).length>=64?'data-content="'+ renderRoles(user.defaultRoles) +'"': ''}}>{{=renderRoles(user.defaultRoles)}}</span>
                                            {{ } }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="single line"><a href="/project/view/302/form">Sample project</a></td>
                            <td class="right aligned">
                                {{ if (user.publicSurveyAccess == 0) { }}
                                Deactivated
                                {{ } else { }}
                                Activated
                                {{ } }}
                            </td>
                        </tr>
                        <tr>
                            <td class="single line">Test quota</td>
                            <td class="right aligned">{{=testRecordsQuota}}</td>
                        </tr>
                        <tr>
                            <td class="single line">Credit balance</td>
                            <td class="right aligned">{{=integerFormatter.format(creditBalance)}}</td>
                        </tr>
                        <tr>
                            <td class="single line">Cash balance</td>
                            <td class="right aligned">{{=decimalFormatter.format(testRecordsQuota)}}</td>
                        </tr>
                        <tr>
                            <td class="single line">Date created</td>
                            <td class="right aligned">{{=dateFormatter.format(new Date(user.dateCreated))}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      {{if (collaborators.length) { }}
      <div class="ui grid">
        <div class="sixteen wide column">
          <h2 id="collaborators-title" class="ui header title">Collaborators</h2>
          <div class="ui right floated dropdown basic orange button bulk-actions">
            <div class="text bulk-actions">Bulk actions</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div id="assign-roles-button" class="item">
                Grant permissions
              </div>
              <div id="expel-colkaborators-button" class="item">
                Expel collaborators
              </div>
            </div>
          </div>
          <button class="invite-collaborators-button ui right floated orange button add">
            Invite collaborators
          </button>
        </div>
      </div>

      <table class="ui selectable form table">
        <tbody>
          {{ _.each(collaborators, function (collaborator) { }}
          <tr class="{{=!collaborator.enabled?'disabled':''}} collaborator-row" data-collaborator-id={{=collaborator.id}}>
            <td class="sort-handle collapsing"><i class="bars icon"></i></td>
            <td>
              <div class="ui two column equal width grid">
                <div class="stretched row">
                  <div class="middle aligned one wide checkbox column">
                    <div class="ui checkbox">
                      <input id="checkbox-{{=collaborator.id}}" type="checkbox" class="check-user" data-user-id={{=collaborator.id}}><label></label>
                    </div>
                  </div>
                  <div class="column">
                    <div>
                      {{=collaborator.fullName}}
                    </div>
                    <div class="resource detail">
                      <span>
                        <strong>Email: </strong>
                        <a href="mailto:{{=collaborator.email}}" target="_blank">
                          {{=collaborator.email}}
                        </a>
                      </span>
                      <span>
                        <strong>Telephone:
                        </strong>{{=collaborator.telephone ? collaborator.telephone : 'Unavailable'}}
                      </span>
                      <span>
                        <strong>Permissions: </strong>{{=renderRoles(collaborator.roles)}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </td>
              <td class="collapsing single line">
                    <span data-content="Grant permissions" class="ui icon assign-permissions-one">
                        <i class="black key link icon"></i>
                    </span>
                  <span data-content="Expel collaborator" class="ui icon expel-one">
                        <i class="black remove link icon"></i>
                    </span>
              </td>
          </tr>
          {{ }); }}
        </tbody>
      </table>
      {{ } else { }}
      <div class="ui placeholder segment">
        <div class="ui icon header">
          No collaborators under this host yet
        </div>
        <div class="invite-collaborators-button ui orange button add-form">Invite collaborators</div>
      </div>
      {{ } }}
    </div>
  </script>
  <script  class="user-edit-template" type="text/x-underscore-template">
     <div class="ui modal">
      <div class="ui inverted dimmer">
        <div class="ui text loader">Saving data</div>
      </div>
      <div class="ui orange header">Edit user</div>
      <div class="content">
        <form id="edit-form" class="ui form">
            <div class="ui visible positive message">
                <strong>TIP: </strong>
                Modify your user account information here.
                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/account-management/how-to-edit-user-account-information"
                   target="_blank">
                    More on editing user information.
                </a>
            </div>
          <input id="id" name="id" value="{{=user?user.id:''}}" type="hidden" />
          <input id="username" name="username" value="{{=user?user.username:''}}" type="hidden" />
          <input id="tenantUserId" name="tenantUserId" value="{{=user?user.tenantUserId:''}}" type="hidden" />
          <input id="masterUserId" name="masterUserId" value="{{=user?user.masterUserId:''}}" type="hidden" />
          <input id="type" name="type" value="{{=user?user.type:''}}" type="hidden" />
          <input id="code" name="code" value="{{=user?user.code:''}}" type="hidden" />
          <input id="slaveStatus" name="slaveStatus" value="{{=user?user.slaveStatus:0}}" type="hidden" />
          <input id="master" name="master" value="{{=user?user.master:0}}" type="hidden" />
          <input id="enabled" name="enabled" value="{{=user?user.enabled:0}}" type="hidden" />
          <input id="minCredits" name="minCredits" value="{{=user?user.minCredits:0}}" type="hidden" />
          <input id="taxRate" name="taxRate" value="{{=user?user.taxRate:0}}" type="hidden" />
          <input id="discountRate" name="discountRate" value="{{=user?user.discountRate:0}}" type="hidden" />
          <input id="publicSurveyAccess" name="publicSurveyAccess" value="{{=user?user.publicSurveyAccess:0}}"
            type="hidden" />
          {{ _.each(user.roles, function(role) { }}
          <input name="roles" value="{{=role}}" type="hidden" />
          {{ }); }}

          <div class="field">
            <label for="firstName">
              First name
              <span id="firstName-error"></span>
            </label>
            <input id="firstName" name="firstName" value="{{=user?user.firstName:''}}" type="text" required="true" />
              <span class="optional label">Enter your first name.</span>
          </div>
          <div class="field">
            <label for="middleName">
              Middle name
              <span class="optional label"> - Optional</span>
              <span id="middleName-error"></span>
            </label>
            <input id="middleName" name="middleName" value="{{=user?user.middleName:''}}" type="text" required="false" />
              <span class="optional label">Enter your middle name.</span>
          </div>
          <div class="field">
            <label for="lastName">
              Last name
              <span class="optional label"> - Optional</span>
              <span id="lastName-error"></span>
            </label>
            <input id="lastName" name="lastName" value="{{=user?user.lastName:''}}" type="text" required="false" />
              <span class="optional label">Enter your last name.</span>
          </div>
          <div class="field">
            <label for="telephone">
              Telephone No
              <span class="optional label"> - Optional</span>
              <span id="telephone-error"></span>
            </label>
            <input id="telephone" name="telephone" value="{{=user?user.telephone:''}}" type="text" required="false" />
              <span class="optional label">Enter your telephone number.</span>
          </div>
          <div class="field">
            <label for="defaultRole">
              Automatic permissions
              <span class="optional label"> - Optional</span>
              <span id="defaultRoles-error"></span>
            </label>
            <![CDATA[ >
              <select id="defaultRole" name="defaultRoles" multiple="true">
                  <option value="" {{=user.defaultRoles?'':'selected="selected"'}} disabled="disabled">NONE
                  </option>
                  {{ _.each(defaultRoles, function(defaultRole) { }}
                  <option value="{{=defaultRole.name}}"
                          {{=_.find((user.defaultRoles||[]), function(role) { return role.name== defaultRole.name }) ? 'selected="selected"':''}}>
                  {{=defaultRole.description}}</option>
                  {{ }); }}
              </select>
              <span class="optional label">
                Select the permissions you would like your collaborators to receive automatically.
                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/permissions/automatic-permissions"
                    target="_blank">
                    More on automatic permissions.
                </a>
              </span>
            <!-- ]]> -->
          </div>
        </form>
      </div>
      <div class="actions">
        <div class="ui orange button edit-submit">Update user</div>
        <div class="ui basic cancel button edit-cancel">Cancel</div>
      </div>
    </div>
  </script>
  <script class="password-change-template" type="text/x-underscore-template">
    <div class="ui modal">
      <div class="ui orange header">Change password</div>
      <div class="content">
        <form id="edit-form" class="ui form">
            <div class="ui visible positive message">
                <strong>TIP: </strong>
                Change the password for your Hoji account here.
                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/account-management/how-to-change-your-password"
                   target="_blank">
                    More on changing your password.
                </a>
            </div>
          <div class="field">
            <label for="oldPassword">
              Current password
              <span id="oldPassword-error"></span>
            </label>
            <input id="oldPassword" name="oldPassword" type="password" class="validate" required="true" />
              <span class="optional label">Enter your current password.</span>
          </div>
          <div class="field">
            <label for="password">
              New password
              <span id="password-error"></span>
            </label>
            <input id="password" name="password" type="password" class="validate" required="true" />
              <span class="optional label">Enter your new password.</span>
          </div>
          <div class="field">
            <label for="confirmPassword">
              Confirm password
              <span id="confirmPassword-error"></span>
            </label>
            <input id="confirmPassword" name="confirmPassword" type="password" class="validate" required="true" />
              <span class="optional label">Confirm your new password.</span>
          </div>
        </form>
      </div>
      <div class="actions">
        <div class="ui orange button edit-submit">Change password</div>
        <div class="ui basic cancel button edit-cancel">Cancel</div>
      </div>
    </div>
  </script>
  <script class="role-assignment-template" type="text/x-underscore-template">
    <div class="ui modal">
      <div class="ui orange header">Grant permissions</div>
      <div class="content">
          <div class="ui visible positive message">
              <strong>TIP: </strong>
              Grant the selected permissions to one or more users.
              <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/permissions/how-to-assign-permissions"
                 target="_blank">
                  More on permissions.
              </a>
          </div>
        <form id="edit-form" class="ui form">
          {{ _.each(userIds, function (id) { }}
          <input id="ids" name="ids" value="{{=id}}" type="hidden" />
          {{ }) }}

          <div class="field">
            <label for="roles">
                {{ if (userIds.length == 1) { }}
                    Permissions for {{=firstCollaborator.fullName}}
                {{ } else { }}
                    Permissions for the {{=userIds.length}} selected collaborators
                {{ } }}
              <span id="roles-error"></span>
            </label>
            <![CDATA[ >
              <select id="roles" name="roles" multiple="true" class="ui fluid dropdown">
                  <option value="" selected="selected" disabled="disabled">NONE</option>
                  {{ _.each(roles, function(role) { }}
                  <option value="{{=role.name}}"
                          {{=_.find(([]), function(role) { return role== role }) ? 'selected="selected"':''}}>
                  {{=role.description}}
                  </option>
                  {{ }); }}
              </select>
              <span class="optional label">Choose the
                  <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/permissions/types-of-permissions" target="_blank">
                      permissions
                  </a>
                  to grant the selected user or users.
              </span>
            <!-- ]]> -->
          </div>

        </form>
      </div>
      <div class="actions">
        <div class="ui orange button edit-submit">Grant permissions</div>
        <div class="ui basic cancel button edit-cancel">Cancel</div>
      </div>
    </div>
  </script>
  <script class="collaborator-invitation-template" type="text/x-underscore-template">
    <div class="ui modal">
      <div class="ui orange header">Invite collaborators</div>
      <div class="content">
        <div class="ui visible positive message">
          <p>
              <strong>TIP: </strong>
            Collaborators include enumerators, supervisors, data managers and other people you want to
            work with on your Hoji projects.
          </p>
          <p>To invite them, ask them to:</p>
          <p>
            <ol>
              <li>
                Create a Hoji account if they do not already have one.
              </li>
              <li>
                Sign into Hoji through the
                <a href="https://play.google.com/store/apps/details?id=ke.co.hoji.android&hl=en" target="_blank">
                  mobile
                </a>
                or web application.
              </li>
              <li>
                Find the <em>Collaborate</em> button and click on it.
              </li>
              <li>
                Enter the Host Code: <strong>{{=user.code}}</strong>.
              </li>
            </ol>
          </p>
          <p>
            <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/collaboration" target="_blank">
              Learn more about collaboration
            </a>
          </p>
        </div>
      </div>
      <div class="actions">
        <div class="ui orange cancel button edit-cancel">Okay</div>
      </div>
    </div>
  </script>
  <script class="confirm-expulsion-template" type="text/x-underscore-template">
      <div class="ui modal">
          <div class="ui orange header">Confirm expulsion</div>
          <div class="content">
              <div class="ui visible warning message">
                  <div class="header">
                      {{ if (noOfCollaborators == 1) { }}
                        Are you sure you want to expel {{=firstCollaborator.fullName}}?
                      {{ } else { }}
                        Are you sure you want to expel the {{=noOfCollaborators}} collaborators selected?
                      {{ } }}
                  </div>
                  <p>
                      Expelling a collaborator removes them from your account so that they no longer have access to
                      your projects.
                  </p>
              </div>
          </div>
          <div class="actions">
              <div class="ui orange button confirm-yes">Yes</div>
              <div class="ui cancel basic button confirm-no">No</div>
          </div>
      </div>
  </script>
  <div th:replace="user/collaborate-template::collaborateTemplate"></div>
  <div th:replace="user/email-change-template::emailChangeTemplate"></div>
  <div th:replace="shared/footer::foot"></div>
  <div th:replace="shared/footer::js"></div>

  <script th:inline="javascript">
    var user = [[${ user }]];
    var tenant = [[${ tenant }]];
    var collaborators = [[${ collaborators }]];
    var cashBalance = [[${ cashBalance }]];
    var creditBalance = [[${ creditBalance }]];
    var testRecordsQuota = [[${ testRecordsQuota }]];
    var defaultRoles = [[${ defaultRoles }]];
    var roles = [[${ roles }]];
    var infoMessage;
    var errors;
    var locale = navigator.language || navigator.userLanguage;
    var decimalFormatter = new Intl.NumberFormat(locale, { minimumFractionDigits: 2 });
    var integerFormatter = new Intl.NumberFormat(locale);
    var dateFormatter = new Intl.DateTimeFormat(locale);
  </script>
  <script th:src="@{/resources/js/user.view.js}"></script>
  <script>
    $(document).ready(function () {
      refreshView();
    });
  </script>
</body>

</html>