<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="fieldScriptTemplate">
    <script class="field-script-template" type="text/x-underscore-template">
        <div class="ui modal" data-stick="true">
            <div class="ui inverted dimmer">

                <div class="ui text loader">Saving script</div>
            </div>
            <div class="ui orange header">Attach script</div>
            <div class="content" style="padding-top:0;">

                <div style="margin-top: 1em" class="ui icon menu">
                    <a class="item">
                        <i id="code-comment" class="comment icon" data-content="Comment selection"></i>
                    </a>
                </div>

                <form id="edit-form" class="ui form">
                    <input id="id" name="id" value="{{=field?field.id:''}}" type="hidden"/>
                    <div class="ui segment">
                        <textarea id="valueScript" name="valueScript" rows="25"
                                  required="true">{{=field?field.valueScript:''}}</textarea>
                    </div>
                    <div class="field">
                        <label>
                            Choose where to execute the <code>calculate()</code> function
                        </label>
                        <select name="calculated" class="ui dropdown">
                            <option value="2" {{=field&&field.calculated==2?'selected=""':''}}>
                                Both on the server and on the mobile device
                            </option>
                            <option value="3" {{=field&&field.calculated==3?'selected=""':''}}>
                                On the server only
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="actions">
                <div class="ui orange button edit-submit">Attach script</div>
                <div class="ui basic cancel button edit-cancel">Cancel</div>
            </div>
        </div>
    </script>
</div>
</body>
</html>