<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="fieldEditTemplate">
    <script class="field-edit-template" type="text/x-underscore-template">
        <div class="ui modal">
            <div class="ui inverted dimmer">
                <div class="ui text loader">Saving data</div>
            </div>
            <div class="ui orange header">{{=field?'Edit field':'Add field'}}</div>
            <div class="scrolling content" style="padding-top:0;">
                <form id="edit-form" class="ui form">
                    <input id="id" name="id" value="{{=field?field.id:''}}" type="hidden"/>
                    <input id="ordinal" name="ordinal" value="{{=field?field.ordinal:''}}" type="hidden"/>
                    <input id="enabled" name="enabled" value="{{=field?field.enabled:''}}" type="hidden"/>
                    <input id="calculated" name="calculated" value="{{=field?field.calculated:''}}" type="hidden"/>
                    <input id="valueScript" name="valueScript" value="{{=field?field.valueScript:''}}" type="hidden"/>
                    <div class="ui pointing secondary menu">
                        <a class="active item" data-tab="basic">Basic</a>
                        <a class="item" data-tab="advanced">Advanced</a>
                        <a class="item" data-tab="validation">Constraints</a>
                        <a class="item" data-tab="relations">Relations</a>
                    </div>
                    <div class="ui active tab" data-tab="basic">
                        <div class="ui visible positive message">
                            <strong>TIP: </strong>
                            A field is a single question or variable. Fields can have
                            <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/constraints"
                               target="_blank">
                                constraints
                            </a>,
                            <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/skip-logic"
                               target="_blank">
                                skip logic
                            </a>
                            e.t.c.
                            <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/fields"
                               target="_blank">
                                More on fields.
                            </a>
                        </div>
                        <div class="field">
                            <label>
                                Field text <span id="description-error"></span>
                            </label>
                            <textarea name="description" rows="2"
                                      required="true">{{=field?field.description:''}}</textarea>
                            <span class="optional label">
                                Enter the field or question text as you would like it to appear during data entry
                                e.g. "How old are you?".
                                 <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-is-field-text"
                                    target="_blank">
                                    More on field text.
                                 </a>
                            </span>
                        </div>
                        <div class="field">
                            <label>
                                Field type <span id="type-error"></span>
                            </label>
                            <div class="ui search selection dropdown field-type">
                                <input name="typeId" type="hidden">
                                <div class="text"></div>
                                <i class="dropdown icon"></i>
                            </div>
                            <span class="optional label">
                                Select the type of data that this field will collect e.g. "Numeric (integer)" to
                                collect whole numbers.
                                 <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-is-field-type"
                                    target="_blank">
                                    More on field types.
                                 </a>
                            </span>
                        </div>
                        <div class="field">
                            <label>
                                Choice list
                                <span class="optional label"> - Optional</span>
                                <span id="choiceGroup-error"></span>
                            </label>
                            <div class="ui search selection dropdown type choice-group">
                                <input name="choiceGroup" type="hidden">
                                <div class="text"></div>
                                <i class="dropdown icon"></i>
                            </div>
                            <span class="optional label">
                                Select the list of choices that the user will choose from. If the list does not
                                exist, <a href="/choice-group" target="_blank">add it here</a> or
                                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-is-choice-list"
                                   target="_blank">
                                    learn more about choice lists.
                                </a>.
                            </span>
                        </div>
                        <div class="field">
                            <label>
                                Variable label
                                <span class="optional label"> - Optional</span>
                            </label>
                            <input name="column" value="{{=field?field.column:''}}" type="text"/>
                            <span class="optional label">
                                Variable labels are used as column headers in the tabulated dataset e.g. "Age".
                                 <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-is-a-variable-label"
                                    target="_blank">
                                    More on variable labels.
                                 </a>
                            </span>
                        </div>
                    </div>
                    <div class="ui tab" data-tab="advanced">
                        <div class="ui visible positive message">
                            <strong>TIP: </strong>
                            A field is a single question or variable. Fields can have
                            <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/constraints"
                               target="_blank">
                                constraints
                            </a>,
                            <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/skip-logic"
                               target="_blank">
                                skip logic
                            </a>
                            e.t.c.
                            <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/fields"
                               target="_blank">
                                More on fields.
                            </a>
                        </div>
                        <div class="field">
                            <label>
                                Field instructions
                                <span class="optional label"> - Optional </span>
                                <span id="instructions-error"></span>
                            </label>
                            <textarea name="instructions" rows="2"
                                      required="true">{{=field?field.instructions:''}}</textarea>
                            <span class="optional label">
                                Enter any instructions you would like to show the enumerator during data entry e.g.
                                "Enter age in years".
                                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-are-field-instructions"
                                   target="_blank">
                                    More on field instructions.
                                 </a>
                            </span>
                        </div>
                        <div class="field">
                            <label>
                                Input format<span class="optional label"> - Optional</span>
                            </label>
                            <div class="ui search selection dropdown input-format">
                                <input name="tag" type="hidden">
                                <div class="text"></div>
                                <i class="dropdown icon"></i>
                            </div>
                            <span class="optional label">
                                Select how you would like text or numeric data to be formatted.
                                 <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-is-input-format"
                                    target="_blank">
                                    More on input formatting.
                                 </a>
                            </span>
                        </div>
                        <div class="field">
                            <label>
                                Default value
                                <span class="optional label"> - Optional</span>
                            </label>
                            <input name="defaultValue" value="{{=field?field.defaultValue:''}}" type="text"/>
                            <span class="optional label">
                                Enter the value to use as the default for this field.
                                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-is-default-value"
                                   target="_blank">
                                    More on default values.
                                </a>
                            </span>
                        </div>
                        <div class="field">
                            <label>
                                Field number <span class="optional label"> - Optional</span>
                            </label>
                            <input name="name" value="{{=field?field.name:''}}" type="text" required="true"/>
                            <span class="optional label">
                                Assign a field or question number to this field.
                                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-is-field-number"
                                   target="_blank">
                                    More on field numbering.
                                </a>
                            </span>
                        </div>
                        <div class="field">
                            <div class="ui {{=field&&field.captioning?'checked':''}} checkbox">
                                <input name="captioning" value="true" type="checkbox" tabindex="0"
                                       {{=field&&field.captioning?'checked=""':''}}>
                                <label>
                                    Use as caption
                                    <span class="optional label">
                                        - Tick to use the response to this field to caption the entire record.
                                        <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-is-use-as-caption"
                                           target="_blank">
                                            More on record captioning.
                                        </a>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui {{=field&&field.searchable?'checked':''}} checkbox">
                                <input name="searchable" value="true" type="checkbox" tabindex="0"
                                       {{=field&&field.searchable?'checked=""':''}}>
                                <label>
                                    Searchable
                                    <span class="optional label">
                                        - Tick to use the response to this field for record searching.
                                        <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-is-searchable"
                                           target="_blank">
                                            More on record searching.
                                        </a>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui {{=field&&field.responseInheriting?'checked':''}} checkbox">
                                <input name="responseInheriting" value="true" type="checkbox" tabindex="0"
                                       {{=field&&field.responseInheriting?'checked=""':''}}>
                                <label>
                                    Response inheriting
                                    <span class="optional label">
                                        - Tick to make subsequent records inherit the response to this field.
                                        <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-is-response-inheriting"
                                           target="_blank">
                                            More on response inheritance.
                                        </a>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="ui tab" data-tab="validation">
                        <div class="ui visible positive message">
                            <strong>TIP: </strong>
                            A field is a single question or variable. Fields can have
                            <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/constraints"
                               target="_blank">
                                constraints
                            </a>,
                            <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/skip-logic"
                               target="_blank">
                                skip logic
                            </a>
                            e.t.c.
                            <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/fields"
                               target="_blank">
                                More on fields.
                            </a>
                        </div>
                        <div class="field">
                            <label>
                                Missing values<span class="optional label"> - Optional</span>
                            </label>
                            <div class="ui selection dropdown missing-action">
                                <input name="missingAction" type="hidden">
                                <div class="text"></div>
                                <i class="dropdown icon"></i>
                            </div>
                            <span class="optional label">
                                Choose how you would like missing values to be handled during data entry.
                                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-is-missing-values"
                                   target="_blank">
                                    More on missing values.
                                </a>
                            </span>
                        </div>
                        <div class="field">
                            <label>
                                Missing value placeholder
                                <span class="optional label"> - Optional</span>
                            </label>
                            <input name="missingValue" value="{{=field?field.missingValue:''}}" type="text"/>
                            <span class="optional label">
                                Enter a comma-separated list of placeholders for missing values e.g. "999, 9999".
                                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-is-missing-value-placeholder"
                                   target="_blank">
                                    More on missing value placeholders.
                                </a>
                            </span>
                        </div>
                        <div class="field">
                            <label>
                                Minimum value
                                <span class="optional label"> - Optional</span>
                            </label>
                            <input name="minValue" value="{{=field?field.minValue:''}}" type="text"/>
                            <span class="optional label">
                                Enter the minimum value for this field
                                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-is-minimum-value"
                                   target="_blank">
                                    More on minimum values.
                                </a>
                        </span>
                        </div>
                        <div class="field">
                            <label>
                                Maximum value
                                <span class="optional label"> - Optional</span>
                            </label>
                            <input name="maxValue" value="{{=field?field.maxValue:''}}" type="text"/>
                            <span class="optional label">
                                Enter the maximum value for this field
                                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-is-maximum-value"
                                   target="_blank">
                                    More on maximum values.
                                </a>
                            </span>
                        </div>
                        <div class="field">
                            <label>
                                Regex constraint
                                <span class="optional label"> - Optional</span>
                            </label>
                            <input name="regexValue" value="{{=field?field.regexValue:''}}" type="text"/>
                            <span class="optional label">
                                Enter a regex to validate this field e.g. "/^[a-zA-Z0-9]*$/" for
                                alphanumeric without spaces.
                                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-is-regex-constraint"
                                   target="_blank">
                                    More on regex constraints.
                                </a>
                            </span>
                        </div>
                        <div class="field">
                            <label>
                                Uniqueness <span class="optional label"> - Optional</span>
                            </label>
                            <div class="ui selection dropdown unique-setting">
                                <input name="uniqueness" type="hidden">
                                <div class="text"></div>
                                <i class="dropdown icon"></i>
                            </div>
                            <span class="optional label">
                                Use this field to enforce record uniqueness on its own or in conjunction with other
                                fields.
                                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-is-uniqueness"
                                   target="_blank">
                                    More on uniqueness.
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="ui tab" data-tab="relations">
                        <div class="ui visible positive message">
                            <strong>TIP: </strong>
                            A field is a single question or variable. Fields can have
                            <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/constraints"
                               target="_blank">
                                constraints
                            </a>,
                            <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/skip-logic"
                               target="_blank">
                                skip logic
                            </a>
                            e.t.c.
                            <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/fields"
                               target="_blank">
                                More on fields.
                            </a>
                        </div>
                        <div class="field">
                            <label>
                                Parent<span class="optional label"> - Optional</span>
                            </label>
                            <div class="ui search selection dropdown parent">
                                <input name="parentId" type="hidden">
                                <div class="text"></div>
                                <i class="dropdown icon"></i>
                            </div>
                            <span class="optional label">
                                Select a parent to assign this field to a sub-form or roster.
                                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-is-field-parent"
                                   target="_blank">
                                    More on field parents.
                                </a>
                            </span>
                        </div>
                        <div class="field">
                            <label>
                                Choice filter<span class="optional label"> - Optional</span>
                            </label>
                            <div class="ui search selection dropdown choice-filter">
                                <input name="choiceFilterFieldId" type="hidden">
                                <div class="text"></div>
                                <i class="dropdown icon"></i>
                            </div>
                            <span class="optional label">
                                Select a choice filter to implement a hierarchy of choices.
                                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-is-choice-filter"
                                   target="_blank">
                                    More on choice filters.
                                </a>
                            </span>
                        </div>
                        <div class="field">
                            <label>
                                Linked forms<span class="optional label"> - Optional</span>
                            </label>
                            <div class="ui multiple search selection dropdown record-source">
                                <input name="recordFormIds" type="hidden">
                                <div class="text"></div>
                                <i class="dropdown icon"></i>
                            </div>
                            <span class="optional label">
                                Select another form to link with this one.
                                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-is-linked-forms"
                                   target="_blank">
                                    More on linked forms.
                                </a>
                            </span>
                        </div>
                        <div class="field">
                            <label>
                                Sampling frame<span class="optional label"> - Optional</span>
                            </label>
                            <div class="ui search selection dropdown reference-field">
                                <input name="referenceFieldId" type="hidden">
                                <div class="text"></div>
                                <i class="dropdown icon"></i>
                            </div>
                            <span class="optional label">
                                Select a field to provide a sampling frame for this field.
                                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-is-sampling-frame"
                                   target="_blank">
                                    More on sampling frames.
                                </a>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="actions">
                <div class="ui orange button edit-submit">{{=field ? 'Update' : 'Add'}} field</div>
                <div class="ui basic cancel button edit-cancel">Cancel</div>
            </div>
        </div>
    </script>
</div>
</body>
</html>
