<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="shared/header::head"></th:block>
    <link rel="stylesheet" th:href="@{/resources/css/print.overview.css}">
</head>

<body>
<div th:replace="shared/menu::nav"></div>
<main style="margin-top: 7rem;" class="ui container">
    <div class="breadcrumb-container">
        <div class="ui container">
            <div class="ui breadcrumb sixteen wide column">
                <a class="section" th:href="@{/}">Projects</a>
                <i class="right angle icon divider"></i>
                <a class="section project-name"
                   th:href="@{/project/view/{surveyId}/form(surveyId=${field.form.survey.id})}">Project
                    name</a>
                <i class="right angle icon divider"></i>
                <a class="section form-name" th:href="@{/form/view/{formId}/field(formId=${field.form.id})}">Form
                    name</a>
                <i class="right angle icon divider"></i>
                <a class="section field-description" th:href="@{/field/view/{fieldId}(formId=${field.id})}">Field
                    description</a>
                <i class="right angle icon divider"></i>
                <a class="section"
                   th:href="@{/project/{projectId}/form/{formId}/field/{fieldId}/report/table(projectId=${field.form.survey.id},formId=${field.form.id},fieldId=${field.id})}">Table</a>
                <i class="right angle icon divider"></i>
                <div class="active section" th:text="${caption}"></div>
            </div>
        </div>
    </div>
    <div class="ui grid">
        <div class="sixteen wide column">
            <h1 class="ui header title" th:text="${caption}">
                Record
            </h1>
            <div class="ui right floated red button delete">Delete record</div>
        </div>
    </div>
    <div class="ui one column grid">
        <div class="ui column">
            <div class="ui grid">
                <div class="column">
                    <div class="ui top attached header inverted normal">About this record</div>
                    <div class="ui attached segment">
                        <p>
                            <strong>Created by: </strong>
                            <span th:text="${recordMetadata.createdBy}"></span>
                        </p>
                        <p>
                            <strong>Created on: </strong>
                            <span th:text="${#dates.format(recordMetadata.dateCreated, 'dd/MMM/yyyy HH:mm')}"></span>
                        </p>
                        <p>
                            <strong>Created at: </strong>
                            <span th:text="${recordMetadata.location}"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column" th:each="response : ${recordResponses}">
            <div class="ui top attached header" th:utext="${response.description}"></div>
            <div class="ui attached segment">
                <img th:if="${response.image}" th:src="${'data:image/png;base64,' + response.value}" style="height: 70vh;" class="ui image"/>
                <p th:unless="${response.image}" class="light" th:utext="${response.value}">Response</p>
            </div>
        </div>
    </div>
</main>
<div id="modal-container"></div>
<div th:replace="shared/resource-delete-template::resourceDeleteTemplate"></div>
<div th:replace="shared/footer::foot"></div>
<div th:replace="shared/footer::js"></div>
<script>
    $(document).ready(function () {
        $('.ui.dropdown').dropdown({action: 'hide'});
        $('.project-name').html(_.capitalize(striptags('[[${field.form.survey.name}]]')));
        $('.form-name').html(_.capitalize(striptags('[[${field.form.name}]]')));
        $('.field-description').html(_.capitalize(striptags('[[${field.description}]]')));
        var baseUrl = '[[@{/project/{projectId}/form/{formId}/field/{fieldId}(projectId=${field.form.survey.id},formId=${field.form.id},fieldId=${field.id})}]]';
        var recordCaption = '[[${ not #strings.isEmpty(caption) and caption != null ? caption : #strings.substring(recordUuid, 0, 5)}]]';

        $('.delete').on('click', function () {
            var openModal = function () {
                var objectType = ' record';
                var deleteMessage =
                    "<strong>WARNING: </strong>This action CANNOT be undone. It will permanently delete the record " +
                    "<strong>" + recordCaption + "</strong>. " +
                    "If you are ABSOLUTELY SURE this is what you want, please enter: " +
                    " <span>" + recordCaption + "</span>.";
                var deleteHelpText = "Enter the caption of this record to delete it.";
                var deleteHelpLink = "https://www.hoji.co.ke/support/#reamaze#0#/articles/how-to-delete-a-record";
                var deleteHelpLinkText = "More about deleting a record.";
                openDeleteWithTemplateModal(
                    {
                        'configObject': {},
                        'label': 'Caption',
                        'objectType': objectType,
                        'deleteMessage': deleteMessage,
                        'deleteHelpText': deleteHelpText,
                        'deleteHelpLink': deleteHelpLink,
                        'deleteHelpLinkText': deleteHelpLinkText
                    },
                    $('script.resource-delete-template'));
                $('.ui.modal')
                    .on('click', '.delete-submit', () => {
                        $('<input/>').attr({
                            type: 'hidden',
                            name: 'recordUuid',
                            value: '[[${recordUuid}]]'
                        }).appendTo('#delete-form');
                        var deleteForm = function () {
                            deleteObject(baseUrl + '/report/table', baseUrl + '/record/delete');
                        }
                        handleAuthenticatedRequest(deleteForm);
                    });
            };
            handleAuthenticatedRequest(openModal);
        });
    });
</script>
</body>

</html>