<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="ruleEditTemplate">
    <script class="rule-edit-template" type="text/x-underscore-template">
        <div class="ui modal">
            <div class="ui inverted dimmer">
                <div class="ui text loader">Saving data</div>
            </div>
            <div class="ui orange header">{{=rule?'Edit skip logic':'Add skip logic'}}</div>
            <div class="scrolling content">
                <div class="ui visible positive message">
                    <strong>TIP: </strong>
                    Skip logic allows you to show or hide fields based on one or more conditions.
                    <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/skip-logic/introduction-to-skip-logic"
                       target="_blank">
                        More on skip logic.
                    </a>
                </div>
                <form id="edit-form" class="ui form">
                    <input name="id" value="{{=rule?rule.id:''}}" type="hidden"/>
                    <input name="owner" value="{{=owner.id}}" type="hidden"/>
                    <input name="ordinal" value="{{=rule?rule.ordinal:''}}" type="hidden"/>
                    <h4 class="ui dividing header" style="margin-top: 0;">Logic Type</h4>
                    <div class="field">
                        <label></label>
                        <div class="ui selection dropdown type">
                            <input name="type" type="hidden">
                            <div class="text"></div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" data-value="2">Show B if A = x</div>
                                <div class="item" data-value="1">If A = x show B</div>
                            </div>
                        </div>
                        <span class="optional label">
                                Select the type of skip logic to construct (A and B represent the fields involved).
                                    <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/skip-logic/types-of-skip-logic"
                                       target="_blank">
                                        More on logic type.
                                    </a>
                                </span>
                    </div>
                    <h4 class="ui dividing header">Logic Builder</h4>
                    <div class="if-show" style="display: none;">
                        <div class="field">
                            <label>If</label>
                            <input type="text" value="{{=owner.description}}" readonly="true"/>
                            <span class="optional label">
                                This is the field with on the condition is constructed. E.g. "<strong>If
                                Age</strong> is greater than 18".
                                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/skip-logic/skip-logic-conditions"
                                   target="_blank">
                                    More on conditions.
                                </a>
                            </span>
                        </div>
                        <div class="field">
                            <label>
                                Operator <span id="operatorDescriptor-error"></span>
                            </label>
                            <div class="ui search selection dropdown operator">
                                <input name="operatorDescriptor" type="hidden">
                                <div class="default text">Select operator</div>
                                <i class="dropdown icon"></i>
                            </div>
                            <span class="optional label">
                                Select the operator with which to construct the condition. E.g. "If Age
                                <strong>is greater than</strong> 18".
                                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/skip-logic/skip-logic-conditions"
                                   target="_blank">
                                    More on conditions.
                                </a>
                            </span>
                        </div>
                        <div class="field value-container"></div>
                        <div class="field">
                            <label>
                                Show <span id="target-error"></span>
                            </label>
                            <div class="ui search selection dropdown target">
                                <input name="target" type="hidden">
                                <div class="default text">Select target</div>
                                <i class="dropdown icon"></i>
                            </div>
                            <span class="optional label">
                                This is the field that will be shown if the condition set above is true.
                                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/skip-logic/skip-logic-actions"
                                   target="_blank">
                                    More on showing fields.
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="show-if" style="display: none;">
                        <div class="field">
                            <label>Show</label>
                            <input type="text" value="{{=owner.description}}" readonly="true"/>
                            <span class="optional label">
                                This is the field that will be shown if the condition set below is true.
                            </span>
                            <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/skip-logic/skip-logic-actions"
                               target="_blank">
                                More on showing fields.
                            </a>
                        </div>
                        <div class="field">
                            <label>
                                If <span id="target-error"></span>
                            </label>
                            <div class="ui search selection dropdown target">
                                <input name="target" type="hidden">
                                <div class="default text">Select target</div>
                                <i class="dropdown icon"></i>
                            </div>
                            <span class="optional label">
                                Select the field on which to construct the condition. E.g. "<strong>If
                                Age</strong> is greater than 18".
                                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/skip-logic/skip-logic-conditions"
                                   target="_blank">
                                    More on conditions.
                                </a>
                            </span>
                        </div>
                        <div class="field">
                            <label>
                                Operator <span id="operatorDescriptor-error"></span>
                            </label>
                            <div class="ui search selection dropdown operator">
                                <input name="operatorDescriptor" type="hidden">
                                <div class="default text">Select operator</div>
                                <i class="dropdown icon"></i>
                            </div>
                            <span class="optional label">
                                Select the operator with which to construct the condition. E.g. "If Age
                                <strong>is greater than</strong> 18".
                                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/skip-logic/skip-logic-conditions"
                                   target="_blank">
                                    More on conditions.
                                </a>
                            </span>
                        </div>
                        <div class="field value-container"></div>
                        <div class="field">
                            <label>
                                Group number
                                <span class="optional label"> - Optional </span>
                            </label>
                            <input name="grouper" value="{{=rule?rule.grouper:'0'}}" type="number" required="true"/>
                            <span class="optional label">
                                Assign the same number to compound skip logic statements that you want evaluated
                                together.
                                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/skip-logic/compound-skip-logic"
                                   target="_blank">
                                More on compound logic.
                                </a>
                            </span>
                        </div>
                        <div class="field">
                            <label>
                                Logical operator
                                <span class="optional label"> - Optional </span>
                            </label>
                            <select class="ui dropdown" name="combiner">
                                <option {{=rule&&rule.combiner==1?'selected="selected"':''}} value="1">AND</option>
                                <option {{=rule&&rule.combiner==2?'selected="selected"':''}} value="2">OR</option>
                            </select>
                            <span class="optional label">
                                Select a logical operator for combining compound skip logic statements.
                                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/skip-logic/compound-skip-logic"
                                   target="_blank">
                                    More on compound logic.
                                </a>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="actions">
                <div class="ui orange button edit-submit">{{=rule ? 'Update' : 'Add'}} skip logic</div>
                <div class="ui basic cancel button edit-cancel">Cancel</div>
            </div>
        </div>
    </script>
    <script class="rule-value-template"
            type="text/x-underscore-template">
        {{ if (isChoice) { }}
        <label>Value</label>
        <div class="ui {{=isMultiChoice||operator === 7?'multiple':''}} search selection dropdown rule-value">
            <input name="value" value="{{=value}}" type="hidden">
            <i class="dropdown icon"></i>
            <div class="default text">Select value</div>
            <div class="menu">
            </div>
        </div>
        <span class="optional label">
            Select the value with which to construct the condition. E.g. "If Age is greater than
            <strong>18</strong>".
            <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/skip-logic/skip-logic-conditions"
               target="_blank">
                More on conditions.
            </a>
        </span>
        {{ } else { }}
        <label>Value</label>
        <input name="value" value="{{=value||''}}" type="text" required="true"/>
        <span class="optional label">
            Enter the value with which to construct the condition. E.g. "If Age is greater than
            <strong>18</strong>".
            <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/skip-logic/skip-logic-conditions"
               target="_blank">
                More on conditions.
            </a>
        </span>
        {{ } }}
    </script>
</div>
</body>
</html>