<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="shared/header::head"></div>
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css">
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/theme/base16-light.min.css">
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/addon/hint/show-hint.min.css">
<body>
  <div th:replace="shared/menu::nav"></div>
  <main style="margin-top: 7rem;" class="ui container">
    <div class="ui sixteen wide column">
      <div id="take-a-tour" class="ui basic positive fluid button">Show me around</div>
    </div>
    <div id="field-view-container"></div>
  </main>
  <div id="modal-container"></div>
  <div th:replace="field/field-edit-template::fieldEditTemplate"></div>
  <div th:replace="field/rule-edit-template::ruleEditTemplate"></div>
  <div th:replace="field/field-script-template::fieldScriptTemplate"></div>
  <div th:replace="shared/resource-delete-template::resourceDeleteTemplate"></div>
  <div th:replace="shared/footer::foot"></div>
  <div th:replace="shared/footer::js"></div>
  <script class="field-view-template" type="text/x-underscore-template">
      <div>
        <div class="breadcrumb-container">
          <div class="ui container">
            <div class="ui breadcrumb sixteen wide column">
              <a class="section" th:href="@{/}">Projects</a>
              <i class="right angle icon divider"></i>
              <a class="section" th:href="@{/project/view/{surveyId}/form(surveyId=${field.form.survey.id})}">{{=_.capitalize(striptags(field.form.survey.name))}}</a>
              <i class="right angle icon divider"></i>
              <a class="section" th:href="@{/form/view/{formId}/field(formId=${field.form.id})}">{{=_.capitalize(striptags(field.form.name))}}</a>
              <i class="right angle icon divider"></i>
              <div class="active section">{{=_.capitalize(striptags(field.name))}}</div>
            </div>
          </div>
        </div>
        <div style="margin-top: .2rem" class="ui grid">
          <div class="sixteen wide column">
            <h1 id="field-name" class="{{=field.enabled ? 'ui header title' : 'ui disabled header title'}}">
              {{=field.name + '. ' + field.description}}
            </h1>
            <div class="ui right floated dropdown basic button more-actions">
              <div class="text more-actions">More actions</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item edit">
                  Edit field
                </div>
                <div class="item delete">
                  Delete field
                </div>
                <div class="item enable">
                  {{=field.enabled ? 'Disable field' : 'Enable field'}}
                </div>
                <div class="item rule-add">
                  Add skip logic
                </div>
                  <div class="item script-attach">
                      Attach script
                  </div>
              </div>
            </div>
            {{ if (field.type.code == 'MRX') { }}
              <div id="report-button" class="ui right floated green dropdown button">
                <div class="text">Data reports</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <a th:href="@{/project/{surveyId}/form/{formId}/field/{fieldId}/report/table(surveyId=${field.form.survey.id},formId=${field.form.id},fieldId=${field.id})}" class="item">Data table</a>
                  <a th:href="@{/project/{surveyId}/form/{formId}/field/{fieldId}/report/analysis(surveyId=${field.form.survey.id},formId=${field.form.id},fieldId=${field.id})}" class="item">Descriptive statistics</a>
                  <a th:href="@{/project/{surveyId}/form/{formId}/field/{fieldId}/report/pivot(surveyId=${field.form.survey.id},formId=${field.form.id},fieldId=${field.id})}" class="item">Pivot table</a>
                  <a th:href="@{/project/{surveyId}/form/{formId}/field/{fieldId}/report/gallery(surveyId=${field.form.survey.id},formId=${field.form.id},fieldId=${field.id})}" class="item">Image gallery</a>
                </div>
              </div>
            {{ } }}
          </div>
        </div>
        <div class="ui segment object-attributes">
            <div class="ui three column equal width grid">
                <div class="row">
                    <div class="column">
                        <table class="ui very basic single line table">
                            <tbody>
                            <tr>
                                <td>Instructions</td>
                                <td class="right aligned instructions">
                                    <table class="ui very basic fixed single line table">
                                        <tbody>
                                        <tr>
                                            <td class="right aligned compact">
                                                {{ if (field.instructions) { }}
                                                <span {{=field.instructions.length>64?'data-content="'+ field.instructions +'"': ''}}>{{=field.instructions}}</span>
                                                {{ } else { }}
                                                --
                                                {{ } }}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>Variable name</td>
                                <td class="right aligned variable-name">
                                    {{=field.column || '--'}}
                                </td>
                            </tr>
                            <tr>
                                <td>Missing value</td>
                                <td class="right aligned missing-value">
                                    {{=field.missingValue || '--'}}
                                </td>
                            </tr>
                            <tr>
                                <td>Input format</td>
                                <td class="right aligned input-format">
                                    {{=field.tagLabel || '--'}}
                                </td>
                            </tr>
                            <tr>
                                <td>Use as caption</td>
                                <td class="right aligned captioning">
                                    {{=field.captioning}}
                                </td>
                            </tr>
                            <tr>
                                <td>Searchable</td>
                                <td class="right aligned searchable">
                                    {{=field.searchable}}
                                </td>
                            </tr>
                            <tr>
                                <td>Minimum</td>
                                <td class="right aligned min-value">
                                    {{=field.minValue || '--'}}
                                </td>
                            </tr>
                            <tr>
                                <td>Maximum</td>
                                <td class="right aligned max-value">
                                    {{=field.maxValue || '--'}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ui computer only one wide column"></div>
                    <div class="column">
                        <table class="ui very basic single line table">
                            <tbody>
                            <tr>
                                <td>Regex</td>
                                <td class="right aligned regex-value">
                                    {{=field.regexValue || '--'}}
                                </td>
                            </tr>
                            <tr>
                                <td>Uniqueness</td>
                                <td class="right aligned unique-value">
                                    {{=field.uniqueness === 0 ? 'None' : field.uniqueness === 1 ? 'Simple' : field.uniqueness === 2 ? 'Compound' : '--'}}
                                </td>
                            </tr>
                            <tr>
                                <td>Choice group</td>
                                <td class="right aligned choice-group">
                                    {{ if (field.choiceGroup) { }}
                                    <a href="{{=contextPath + '/choice-group/' + field.choiceGroup.id}}">{{=field.choiceGroup.name}}</a>
                                    {{ } else { }}
                                    --
                                    {{ } }}
                                </td>
                            </tr>
                            <tr>
                                <td>Choice filter</td>
                                <td class="right aligned choice-filter">
                                    {{ if (field.choiceFilterField) { }}
                                    <table class="ui very basic fixed single line table">
                                        <tr>
                                            <td class="right aligned compact">
                                                <a {{=field.choiceFilterField.description.length>64?'data-content="'+ field.choiceFilterField.description +'"':''}} href="{{=contextPath + '/field/view/' + field.choiceFilterField.id}}">
                                                    {{=field.choiceFilterField.description}}
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                    {{ } else { }}
                                    --
                                    {{ } }}
                                </td>
                            </tr>
                            <tr>
                                <td>Default value</td>
                                <td class="right aligned default-value">
                                    {{=field.defaultValue || '--'}}
                                </td>
                            </tr>
                            <tr>
                                <td>Parent</td>
                                <td class="right aligned parent">
                                    {{ if (field.parent) { }}
                                    <table class="ui very basic fixed single line table">
                                        <tr>
                                            <td class="right aligned compact">
                                                <a {{=field.parent.description.length>64?'data-content="'+ field.parent.description +'"':''}} href="{{=contextPath + '/field/view/' + field.parent.id}}">
                                                    {{=field.parent.description}}
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                    {{ } else { }}
                                    --
                                    {{ } }}
                                </td>
                            </tr>
                            <tr>
                                <td>Field ID</td>
                                <td class="right aligned default-value">
                                    {{=field.id}}
                                </td>
                            </tr>
                            <tr>
                                <td>Form</td>
                                <td class="right aligned compact">
                                    <table class="ui very basic fixed single line table">
                                        <tr>
                                            <td class="right aligned compact">
                                                <a {{=field.form.name.length>64?'data-content="'+ field.form.name +'"':''}} href="{{=contextPath + '/form/view/' + field.form.id + '/field'}}">
                                                    {{=field.form.name}}
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {{if (rules.length) { }}
          <div class="ui grid">
            <div class="sixteen wide column">
              <h2 id="rules-title" class="ui header title">Skip Logic</h2>
              <button id="rule-add" class="ui right floated orange button rule-add">Add skip logic</button>
            </div>
          </div>
          <table class="ui selectable rule table">
            <tbody>
              {{ _.each(rules, function (rule) { }}
                <tr data-rule-id="{{=rule.id}}" class="{{=rule.added?'added':rule.deleted?'deleted':''}} rule-row">
                  <td class="sort-handle collapsing"><i class="bars icon"></i></td>
                  <td>
                    <div class="ui one column equal width grid">
                      <div class="stretched row">
                        <div class="column">
                          <div>
                            {{ if (rule.type === 1) { }}
                              <span>If </span>
                              <a href="{{=contextPath + '/field/view/' + rule.owner.id}}">
                                {{=rule.owner.description}}
                              </a>
                              <span> </span>
                              <span>{{=rule.operatorDescriptor.name.toLowerCase()}}</span>
                              <span>{{=rule.displayValue}} </span>
                              <span>then show </span>
                              <a href="{{=contextPath + '/field/view/' + rule.target.id}}">
                                {{=rule.target.description}}
                              </a>
                            {{ } }}
                            {{ if (rule.type === 2) { }}
                              <span>Show </span>
                              <a href="{{=contextPath + '/field/view/' + rule.target.id}}">
                                {{=rule.owner.description}}
                              </a>
                              <span> if</span>
                              <a href="{{=contextPath + '/field/view/' + rule.target.id}}">
                                {{=rule.target.description}}
                              </a>
                              <span>{{=rule.operatorDescriptor.name.toLowerCase()}}</span>
                              <span>{{=rule.displayValue}} </span>
                            {{ } }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="collapsing single line">
                    <span class="ui icon edit-rule">
                      <i class="black edit link icon rule-edit"></i>
                    </span>
                    <span class="ui icon delete-rule">
                      <i class="black trash link icon rule-delete"></i>
                    </span>
                  </td>
                </tr>
              {{ }); }}
              </tbody>
          </table>
        {{ } }}
      </div>
    </script>
  <script th:inline="javascript">
    var field = [[${ field }]];
    var rules = [[${ rules }]];

    $(document).ready(function () {
      refreshView();
    });
  </script>
  <script th:src="@{/resources/js/field.view.js}"></script>
  <script th:src="@{/resources/js/field.common.js}"></script>
  <div th:replace="shared/footer::codemirror"></div>
</body>

</html>