<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="formEditTemplate">
    <script class="form-edit-template" type="text/x-underscore-template">
        <div class="ui modal">
            <div class="ui inverted dimmer">
                <div class="ui text loader">Saving data</div>
            </div>
            <div class="ui orange header">{{=form?'Edit form':'Add form'}}</div>
            <div class="content">
                <div class="ui visible positive message">
                    <strong>TIP: </strong>
                    A form is a questionnaire or other data collection instrument. Forms contain
                    <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/fields/what-is-a-field"
                       target="_blank">
                        fields
                    </a>
                    or questions.
                    <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/forms"
                       target="_blank">
                        More on forms.
                    </a>
                </div>
                <form id="edit-form" class="ui form">
                    <input id="id" name="id" value="{{=form?form.id:''}}" type="hidden"/>
                    <input id="minorVersion" name="minorVersion" value="{{=form?form.minorVersion:''}}" type="hidden"/>
                    <input id="majorVersion" name="majorVersion" value="{{=form?form.majorVersion:''}}" type="hidden"/>
                    <input id="ordinal" name="ordinal" value="{{=form?form.ordinal:''}}" type="hidden"/>
                    <div class="field">
                        <label for="name">
                            Form name<span id="name-error"></span>
                        </label>
                        <input id="name" name="name" value="{{=form?form.name:''}}" type="text" required="true"/>
                        <span class="optional label">
                            Give your form or questionnaire a name to locate it easily within the project e.g.
                            "Household Questionnaire".
                             <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/form-attributes/what-is-form-name"
                                target="_blank">
                                More on form naming.
                            </a>
                        </span>
                    </div>
                    <div class="field">
                        <label>
                            GPS
                            <span id="gpsCapture-error"></span>
                        </label>
                        <select class="ui dropdown" name="gpsCapture">
                            <option value="2" {{=form&&form.gpsCapture==2?'selected':''}}>Always capture GPS</option>
                            <option value="1" {{=form&&form.gpsCapture==1?'selected':''}}>
                                Capture GPS if possible
                            </option>
                            <option value="0" {{=form&&form.gpsCapture==0?'selected':''}}>Do not capture GPS</option>
                        </select>
                        <span class="optional label">
                            Select how you want this form or questionnaire to capture location data.
                            <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/gps/capturing-gps-data-through-a-form" target="_blank">
                                More on GPS.
                            </a>
                        </span>
                    </div>
                </form>
            </div>
            <div class="actions">
                <div class="ui orange button edit-submit">{{=form ? 'Update' : 'Add'}} form</div>
                <div class="ui basic cancel button edit-cancel">Cancel</div>
            </div>
        </div>
    </script>
</div>
</body>
</html>