<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <title>Hoji Server</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf?.token}">
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf?.headerName}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link type="text/css" rel="stylesheet" th:href="@{/resources/min/hoji.css}" media="screen,projection">
    <link rel="stylesheet" th:href="@{/resources/min/semantic.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/report.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/hoji-flexmonster.css}" media="screen,projection">
    <style>
        body {
            display: flex;
            flex-direction: column;
        }

        main {
            flex: 50 0 auto;
        }

        footer {
            margin-top: .4rem;
            flex: 1 0 auto;
        }
    </style>
</head>

<body>
    <main id="report-container" style="margin-top:3rem;"></main>
    <div th:replace="shared/footer::foot"></div>
    <div th:replace="shared/footer::js"></div>
    <script type="text/javascript" th:src="@{/resources/js/flexmonster.js}"></script>
    <script th:inline="javascript">
        window.anonymousUser = [[${ anonymousUser }]];
        window.canfly = [[${ canfly }]];
        window.fullName = [[${ fullName }]];
        window.resource = [[${ form }]];
        window.resourceType = "form";
        window.transposed = window.resource.transposable;
        window.survey = resource.survey;
        window.baseUrl = window.contextPath + '/project/' + window.survey.id + '/form/' + window.resource.id + '/report';
        window.apiBaseUrl = window.contextPath + '/api/project/' + window.survey.id + '/form/' + window.resource.id + '/report';
        window.fields = [[${ fields }]];
        window.users = [[${ users }]];
        window.breadcrumbSections = [];
        window.breadcrumbSections.push({ key: 'project', content: 'Project', href: contextPath + '/', });
        window.breadcrumbSections.push({ key: 'project-view', content: window.resource.survey.name, href: contextPath + '/project/view/' + window.survey.id + '/form', });
        window.breadcrumbSections.push({ key: 'form-view', content: window.resource.name, href: contextPath + '/form/view/' + window.resource.id + '/field', });
        window.reportTypes = [{ path: 'table', text: 'Data table' }, { path: 'analysis', text: "Descriptive statistics" }, { path: 'map', text: 'Geo-map' }, { path: 'monitor', text: 'Activity monitor' }, { path: 'pivot', text: 'Pivot table' }, { path: 'dashboard', text: 'Custom dashboard' }, { path: 'gallery', text: 'Image gallery' }]
    </script>
    <script th:src="@{/resources/js/vendor.js}"></script>
    <script th:src="@{/resources/js/report.js}"></script>
</body>

</html>