<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="shared/header::head"></div>
<div th:replace="shared/header::codemirror"></div>
<body>
<div th:replace="shared/menu::nav"></div>
<main style="margin-top: 7rem;" class="ui container">
    <div class="ui sixteen wide column">
        <div id="take-a-tour" class="ui basic positive fluid button">Show
            me around
        </div>
    </div>
    <div id="form-view-container"></div>
</main>
<div th:replace="shared/message::message"></div>
<div id="modal-container"></div>
<div th:replace="form/form-edit-template::formEditTemplate"></div>
<div th:replace="field/field-edit-template::fieldEditTemplate"></div>
<div th:replace="field/rule-edit-template::ruleEditTemplate"></div>
<div th:replace="field/field-script-template::fieldScriptTemplate"></div>
<div
    th:replace="shared/resource-delete-template::resourceDeleteTemplate"></div>
<div th:replace="shared/footer::foot"></div>
<div th:replace="shared/footer::js"></div>
<script class="form-view-template" type="text/x-underscore-template">
    <div>
        <div class="breadcrumb-container">
            <div class="ui container">
                <div class="ui breadcrumb sixteen wide column">
                    <a class="section" th:href="@{/}">Projects</a>
                    <i class="right angle icon divider"></i>
                    <a class="section" th:href="@{/project/view/{surveyId}/form(surveyId=${form.survey.id})}">{{=_.capitalize(striptags(form.survey.name))}}</a>
                    <i class="right angle icon divider"></i>
                    <div class="active section">{{=_.capitalize(striptags(form.name))}}</div>
                </div>
            </div>
        </div>
        <div style="margin-top: .2rem" class="ui grid">
            <div class="sixteen wide column">
                <h1 id="form-name" class="{{=form.enabled ? 'ui header title' : 'ui disabled header title'}}">
                    {{=form.name}}
                </h1>
                <div class="ui right floated basic dropdown button more-actions">
                    <div class="text">More actions</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item form-edit">
                            Edit form
                        </div>
                        <div class="item form-delete">
                            Delete form
                        </div>
                        <div class="item form-enable">
                            {{=form.enabled ? 'Disable form' : 'Enable form'}}
                        </div>
                    </div>
                </div>
                <div id="form-report-button" class="ui right floated green dropdown button">
                    <div class="text">Data reports</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a th:href="@{/project/{surveyId}/form/{formId}/report/table(surveyId=${form.survey.id},formId=${form.id})}"
                           class="item">Data table</a>
                        <a th:href="@{/project/{surveyId}/form/{formId}/report/analysis(surveyId=${form.survey.id},formId=${form.id})}"
                           class="item">Descriptive statistics</a>
                        <a th:href="@{/project/{surveyId}/form/{formId}/report/map(surveyId=${form.survey.id},formId=${form.id})}"
                           class="item">Geo-map</a>
                        <a th:href="@{/project/{surveyId}/form/{formId}/report/monitor(surveyId=${form.survey.id},formId=${form.id})}"
                           class="item">Activity monitor</a>
                        <a th:href="@{/project/{surveyId}/form/{formId}/report/pivot(surveyId=${form.survey.id},formId=${form.id})}"
                           class="item">Pivot table</a>
                        <a th:href="@{/project/{surveyId}/form/{formId}/report/dashboard(surveyId=${form.survey.id},formId=${form.id})}"
                           class="item">Custom dashboard</a>
                        <a th:href="@{/project/{surveyId}/form/{formId}/report/gallery(surveyId=${form.survey.id},formId=${form.id})}"
                           class="item">Image gallery</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment object-attributes">
            <div class="ui three column equal width grid">
                <div class="row">
                    <div class="column">
                        <table class="ui very basic table">
                            <tbody>
                            <tr>
                                <td>GPS</td>
                                <td class="right aligned gps-capture">
                                    {{=form.gpsCapture==0?'Do not capture GPS':form.gpsCapture==1?'Capture GPS if possible':'Always capture GPS'}}
                                </td>
                            </tr>
                            <tr>
                                <td>Version</td>
                                <td class="right aligned version">{{=form.fullVersion}}</td>
                            </tr>
                            <tr>
                                <td>Number of records</td>
                                <td class="right aligned no-of-records">
                                    {{=Number(noOfRecords).toLocaleString()}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ui computer only one wide column"></div>
                    <div class="column">
                        <table class="ui very basic table">
                            <tbody>
                            <tr>
                                <td>Cost per record</td>
                                <td class="right aligned cost-per-record">
                                    {{=form.credits}} {{=form.credits==1?'credit':'credits'}}
                                </td>
                            </tr>
                            <tr>
                                <td>Form ID</td>
                                <td class="right aligned cost-per-record">
                                    {{=form.id}}
                                </td>
                            </tr>
                            <tr>
                                <td>Project</td>
                                <td class="right aligned">
                                    <a th:href="@{/project/view/{surveyId}/form(surveyId=${form.survey.id})}"
                                       th:text="${form.survey.name}"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {{if (fields.length) { }}
        <div class="ui grid">
            <div class="sixteen wide column">
                <h2 id="fields-title" class="ui header title">Fields</h2>
                <div class="ui right floated dropdown basic orange button bulk-actions">
                    <div class="text bulk-actions">Bulk actions</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item bulk-edit">
                            Bulk edit
                        </div>
                        <a th:href="@{/field/auto-number(formId=${form.id})}" class="item">
                            Auto number fields
                        </a>
                        <div class="item use-as-caption">
                            Use as caption
                        </div>
                        <div class="item mark-as-searchable">
                            Mark as searchable
                        </div>
                        <div class="item mark-as-inherits-response">
                            Mark as response inheriting
                        </div>
                    </div>
                </div>
                <button class="ui right floated orange button field-add">Add field</button>
            </div>
        </div>
        <table class="ui selectable field table">
            <tbody>
            {{ _.each(fields, function (field) { }}
            <tr data-field-id="{{=field.id}}"
                class="{{=field.added?'added':field.deleted?'deleted':''}} {{=!field.enabled?'disabled':''}}">
                <td class="sort-handle collapsing"><i class="bars icon"></i></td>
                <td class="{{=field.parent?'child-field':''}}">
                    <div class="ui two column equal width grid">
                        <div class="stretched row">
                            <div class="middle aligned one wide checkbox column">
                                <div class="ui checkbox">
                                    <input type="checkbox" class="check"><label></label>
                                </div>
                            </div>
                            <div class="column">
                                <div>
                                    <a href="{{=contextPath + '/field/view/' + field.id}}" class="field-link">
                                        {{=field.name}}. {{=field.description}}
                                    </a>
                                </div>
                                <div class="resource detail">
                                    <strong>Type: </strong> {{=field.type.name}};
                                    <strong>ID: </strong> {{=field.id}}
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="collapsing single line">
                    <div class="ui dropdown actions">
                        <a class="text field-actions">
                            Actions
                            <i class="dropdown icon"></i>
                        </a>
                        <div class="menu">
                            <div class="field-edit item">Edit field</div>
                            <div class="field-delete item">Delete field</div>
                            <div class="rule-add item">Add skip logic</div>
                            <div class="script-attach item">Attach script</div>
                        </div>
                    </div>
                </td>
            </tr>
            {{ }); }}
            </tbody>
        </table>
        {{ } else { }}
        <div class="ui placeholder segment">
            <h3 class="ui icon header">
                <div class="content">
                    There are no fields under this form yet
                    <div class="sub header">
                        Add a field or question to the form by clicking on the button below.
                    </div>
                </div>
            </h3>
            <div class="ui orange button field-add">Add field</div>
        </div>
        {{ } }}
    </div>
</script>
<script class="field-bulk-edit-template"
        type="text/x-underscore-template">
    <div class="ui modal">
        <div class="ui inverted dimmer">
            <div class="ui text loader">Saving data</div>
        </div>
        <div class="ui orange header">Bulk edit fields</div>
        <div class="content">
            <div class="ui visible positive message">
                <strong>TIP: </strong>
                Modify some field attributes across multiple fields at once.
                <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/properties/what-are-properties"
                   target="_blank">
                    More on bulk editing.
                </a>
            </div>
            <form id="edit-form" class="ui form">
                {{ _.each(fieldIds, function (id) { }}
                <input id="ids" name="ids" value="{{=id}}" type="hidden"/>
                {{ }) }}
                <div class="field">
                    <label>
                        Input format
                    </label>
                    <div class="ui search selection dropdown input-format">
                        <input name="tag" type="hidden">
                        <div class="text"></div>
                        <i class="dropdown icon"></i>
                    </div>
                    <span class="optional label">
                        Choose the input format to apply to the selected fields.
                        <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-is-input-format"
                           target="_blank">
                            More on input formatting.
                        </a>
                    </span>
                </div>
                <div class="field">
                    <label>
                        Missing action
                    </label>
                    <div class="ui selection dropdown missing-action">
                        <input name="missingAction" type="hidden">
                        <div class="text"></div>
                        <i class="dropdown icon"></i>
                    </div>
                    <span class="optional label">
                        Choose the missing action to apply to the selected fields.
                         <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-is-missing-values"
                            target="_blank">
                            More on missing values.
                         </a>
                    </span>
                </div>
                <div class="field">
                    <label>
                        Parent
                    </label>
                    <div class="ui search selection dropdown parent">
                        <input name="parentId" type="hidden">
                        <div class="default text">Select parent</div>
                        <i class="dropdown icon"></i>
                    </div>
                    <span class="optional label">
                        Choose the parent to apply to the selected fields.
                        <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/field-attributes/what-is-field-parent"
                           target="_blank">
                            More on field parents.
                        </a>
                    </span>
                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui orange button edit-submit">Save changes</div>
            <div class="ui basic cancel button edit-cancel">Cancel</div>
        </div>
    </div>
</script>
<script th:src="@{/resources/js/form.view.js}"></script>
<script th:src="@{/resources/js/form.common.js}"></script>
<script th:src="@{/resources/js/field.common.js}"></script>
<div th:replace="shared/footer::codemirror"></div>
<script th:inline="javascript">
    var form = [[${form}]];
    var fields = [[${fields}]];
    var noOfRecords = [[${noOfRecords}]];
    var surveyId = form.survey.id;

    $(document).ready(function () {
        refreshView();
    });
</script>
</body>
</html>