<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="shared/header::head"></div>

<body>
    <div th:replace="shared/menu::nav"></div>
    <main style="margin-top: 3rem;" class="ui container">
        <div style="margin-top: 2em" class="ui sixteen wide column">
            <div id="take-a-tour" class="ui basic positive fluid button">Show me around</div>
        </div>
        <div class="ui hidden info message">
            <div id="banner-message-content" class="content"></div>
        </div>
        <div style="margin-top: 1rem" class="ui grid">
            <div class="sixteen wide column">
                <h2 id="project-title" class="ui header title">Projects</h2>
                <button id="add-button" class="ui right floated orange button">Create project</button>
            </div>
        </div>
        <div style="margin-top: 1rem;" id="list-survey-container"></div>
    </main>
    <div th:replace="shared/message::message"></div>
    <div id="modal-container"></div>
    <div th:replace="user/email-change-template::emailChangeTemplate"></div>
    <div th:replace="survey/survey-edit-template::surveyEditTemplate"></div>
    <div th:replace="shared/resource-delete-template::resourceDeleteTemplate"></div>
    <div th:replace="shared/footer::foot"></div>
    <div th:replace="shared/footer::js"></div>
    <script class="survey-list-template" type="text/x-underscore-template">
        <table class="ui selectable project table">
            <tbody>
            {{ _.each(surveys, function (survey) { }}
            <tr data-survey-id="{{=survey.id}}"
                class="{{=survey.added?'added':survey.deleted?'deleted':''}} {{=!survey.enabled?'disabled':''}}">
                <td>
                    <div class="ui grid">
                        <div class="stretched row">
                            <div class="column">
                                <div>
                                    <a href="{{=contextPath + '/project/view/' + survey.id + '/form'}}"
                                    class="project-link">
                                        {{=survey.name}}
                                    </a>
                                </div>
                                <div class="resource detail">
                                    <strong>Status: </strong>
                                    {{=survey.status==1?'Deployed':'Draft'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="collapsing single line">
                    <span class="ui icon edit-project">
                    <i class="black edit link icon"></i>
                    </span>
                    <span class="ui icon delete-project">
                    <i class="black trash link icon"></i>
                    </span>
                </td>
            </tr>
            {{ }); }}
            </tbody>
        </table>
    </script>
    <script th:inline="javascript">
        var user = [[${ user }]];
        var surveys = [[${ surveys }]];
        var userId = [[${ userId }]];
        var currentPage = LIST_PAGE;
        var hoursToExpiry = [[${ hoursToExpiry }]];
        var infoMessage;
    </script>
    <script th:src="@{/resources/js/survey.list.js}"></script>
    <script th:src="@{/resources/js/survey.common.js}"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            refreshView();
        });
    </script>
    <script th:if="${notification}" th:inline="javascript">
        $(document).ready(function () {
            Utils.renderMessage({ info: [[${ notification }]] });
        });
    </script>
</body>

</html>