<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="surveyClearTemplate">
    <script class="survey-clear-template" type="text/x-underscore-template">
        <div class="ui modal">
            <div class="ui inverted dimmer">
                <div class="ui text loader">Saving data</div>
            </div>
            <div class="ui red header">Clear data</div>
            <div class="content">
                <form id="clear-data-form" class="ui form" method="post">
                    <div class="ui visible negative message">
                        <strong>WARNING: </strong>
                        This action CANNOT be undone. It will clear all data associated with
                        <a th:text="${survey.name}" th:href="@{'/project/view/' + ${survey.id} + '/form'}">KNS</a>. If you are
                        ABSOLUTELY SURE this is what you want, please enter the name of the project to confirm.
                    </div>
                    <input id="id" name="id" value="{{=survey.id}}" type="hidden"/>
                    <div class="field">
                        <label for="survey-name">
                            Project name <span id="name-error"></span>
                        </label>
                        <input id="survey-name" name="name" type="text" required="true"/>
                        <span class="optional label">
                            Enter the name of this project to clear its data.
                            <a
                                href="https://www.hoji.co.ke/support/#reamaze#0#/kb/digitization/how-to-clear-project-data"
                                target="_blank">
                                    More on clearing project data.
                            </a>
                        </span>
                    </div>
                </form>
            </div>
            <div class="actions">
                <div class="ui red button clear-submit">Clear project data</div>
                <div class="ui cancel basic button clear-cancel">Cancel</div>
            </div>
        </div>
    </script>
</div>
</body>

</html>