<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="surveyEditTemplate">
    <script class="survey-edit-template" type="text/x-underscore-template">
        <div class="ui modal">
            <div class="ui inverted dimmer">
                <div class="ui text loader">Saving data</div>
            </div>
            <div class="ui orange header">{{=survey?'Edit project':'New project'}}</div>
            <div class="content">
                <div class="ui visible positive message">
                    <strong>TIP: </strong>
                    A project helps you stay organized by grouping related
                    <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/forms/what-is-a-form"
                       target="_blank">
                        forms
                    </a>
                    or questionnaires.
                    <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/projects"
                       target="_blank">
                        More on projects.
                    </a>
                </div>
                <form id="edit-form" class="ui form" method="post">
                    <input id="id" name="id" value="{{=survey?survey.id:''}}" type="hidden"/>
                    <input id="code" name="code" value="{{=survey?survey.code:''}}" type="hidden"/>
                    <input id="status" name="status" value="{{=survey?survey.status:''}}" type="hidden"/>
                    <input id="enabled" name="enabled" value="{{=survey?survey.enabled:''}}" type="hidden"/>
                    <input id="userId" name="userId" value="{{=userId}}" type="hidden"/>

                    <div class="field">
                        <label>Project name<span id="name-error"></span></label>
                        <input name="name" value="{{=survey?survey.name:''}}" type="text" required="true"/>
                        <span class="optional label">
                            Give your project a name to locate it easily within your account e.g. "Malaria Study".
                            <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/project-attributes/what-is-project-name"
                               target="_blank">
                                More on project naming.
                            </a>
                        </span>
                    </div>
                </form>
            </div>
            <div class="actions">
                <div class="ui orange button edit-submit">{{=survey ? 'Update' : 'Create'}} project</div>
                <div class="ui basic cancel button edit-cancel">Cancel</div>
            </div>
        </div>
    </script>
</div>
</body>
</html>