<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="shared/header::head"></div>

<body>
<div th:replace="shared/menu::nav"></div>
<main style="margin-top: 7rem;" class="ui container">
    <div class="ui sixteen wide column">
        <div id="take-a-tour" class="ui basic positive fluid button">Show
            me around
        </div>
    </div>
    <div id="survey-view"></div>
</main>
<div th:replace="shared/message::message"></div>
<div id="modal-container"></div>
<div th:replace="survey/survey-edit-template::surveyEditTemplate"></div>
<div th:replace="survey/survey-clear-template::surveyClearTemplate"></div>
<div
    th:replace="shared/resource-delete-template::resourceDeleteTemplate"></div>
<div th:replace="form/form-edit-template::formEditTemplate"></div>
<div th:replace="shared/footer::foot"></div>
<div th:replace="shared/footer::js"></div>
<script class="survey-view-template"
        type="text/x-underscore-template">
    <div>
        <div class="breadcrumb-container">
            <div class="ui container">
                <div class="ui breadcrumb sixteen wide column">
                    <a class="section" th:href="@{/}">Projects</a>
                    <i class="right angle icon divider"></i>
                    <div class="active section">{{=_.capitalize(striptags(survey.name))}}</div>
                </div>
            </div>
        </div>
        <div style="margin-top: .2rem" class="ui grid">
            <div class="sixteen wide column">
                <h1 id="project-name" class="{{=survey.enabled ? 'ui header title' : 'ui disabled header title'}}">
                    {{=survey.name}}
                </h1>
                <div class="ui right floated dropdown basic button more-actions">
                    <div class="text more-actions">More actions</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item edit-project">
                            Edit project
                        </div>
                        <div class="item delete-project">
                            Delete project
                        </div>
                        <div class="item enable-project">
                            {{=survey.enabled ? 'Disable project' : 'Enable project'}}
                        </div>
                        <div class="divider"></div>
                        <div class="item clear-data">
                            Clear project data
                        </div>
                        <div class="item manage-properties">
                            Manage properties
                        </div>
                    </div>
                </div>
                <button class="ui right floated orange button deploy-project">Deploy project</button>
            </div>
        </div>
        <div class="ui segment object-attributes">
            <div class="ui three column equal width grid">
                <div class="column">
                    <table class="ui very basic table">
                        <tbody>
                        <tr>
                            <td>Status</td>
                            <td id="project-status" class="right aligned">
                                {{=survey.status==1?'Deployed':'Draft'}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ui computer only one wide column"></div>
                <div class="column">
                    <table class="ui very basic table">
                        <tbody>
                        <tr>
                            <td>Owner</td>
                            <td id="project-owner" class="right aligned">{{=survey.user.fullName}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{if (forms.length) { }}
        <div class="ui grid">
            <div class="sixteen wide column">
                <h2 id="form-title" class="ui header title">Forms</h2>
                <button class="ui right floated orange button add-form">Add form</button>
            </div>
        </div>
        <table class="ui selectable form table">
            <tbody>
            {{ _.each(forms, function (form) { }}
            <tr data-form-id="{{=form.id}}"
                class="{{=form.edited?'edited':form.deleted?'deleted':''}} {{=!form.enabled?'disabled':''}}">
                <td class="sort-handle collapsing"><i class="bars icon"></i></td>
                <td>
                    <div class="ui two column equal width grid">
                        <div class="stretched row">
                            <div class="column">
                                <div>
                                    <a href="{{=contextPath + '/form/view/' + form.id + '/field'}}" class="form-link">
                                        {{=form.name}}
                                    </a>
                                </div>
                                <div class="resource detail">
                                        <span>
                                            <strong>GPS: </strong>
                                            {{=form.gpsCapture==0?'Do not capture GPS':form.gpsCapture==1?'Capture GPS if possible':'Always capture GPS'}};
                                        </span>
                                    <span>
                                            <strong>Version: </strong>{{=form.fullVersion}};
                                        </span>
                                    <span>
                                            <strong>ID: </strong>{{=form.id}}
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="collapsing single line">
                        <span class="ui icon edit-form">
                            <i class="black edit link icon"></i>
                        </span>
                    <span class="ui icon delete-form">
                            <i class="black trash link icon"></i>
                        </span>
                </td>
            </tr>
            {{ }); }}
            </tbody>
        </table>
        {{ } else { }}
        <div class="ui placeholder segment">
            <h3 class="ui icon header">
                <div class="content">
                    There are no forms under this project yet
                    <div class="sub header">
                        Add a form or questionnaire to the project by clicking on the button below.
                    </div>
                </div>
            </h3>
            <div class="ui orange button add-form">Add form</div>
        </div>
        {{ } }}
    </div>
</script>
<script th:inline="javascript">
    var survey = [[${ survey }]];
    var forms = [[${ forms }]];
    var userId = [[${ userId }]]; //id of operating account (could be the same as current user id)
    var currentUserId = [[${ currentUserId }]];
    var currentPage = VIEW_PAGE;
    var infoMessage;
    var errors;
</script>
<script th:src="@{/resources/js/survey.view.js}"></script>
<script th:src="@{/resources/js/survey.common.js}"></script>
<script th:src="@{/resources/js/form.common.js}"></script>
<script>
    $(document).ready(function () {
        refreshView();
    });
</script>
</body>

</html>