<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="shared/header::head"></div>
<style>
    input[type='file'] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
</style>

<body>
<div th:replace="shared/menu::nav"></div>
<main style="margin-top: 7rem;" class="ui container">
    <div id="survey-view"></div>
</main>
<div th:replace="shared/message::message"></div>
<div id="modal-container"></div>
<div th:replace="survey/survey-edit-template::surveyEditTemplate"></div>
<div th:replace="survey/survey-clear-template::surveyClearTemplate"></div>
<div th:replace="shared/resource-delete-template::resourceDeleteTemplate"></div>
<div th:replace="shared/footer::foot"></div>
<div th:replace="shared/footer::js"></div>
<script class="survey-view-template" type="text/x-underscore-template">
    <div>
        <div class="breadcrumb-container">
            <div class="ui container">
                <div class="ui breadcrumb sixteen wide column">
                    <a class="section" th:href="@{/}">Projects</a>
                    <i class="right angle icon divider"></i>
                    <div class="active section">{{=_.capitalize(striptags(survey.name))}}</div>
                </div>
            </div>
        </div>
        <div style="margin-top: .2rem" class="ui grid">
            <div class="sixteen wide column">
                <h1 id="project-name" class="{{=survey.enabled ? 'ui header title' : 'ui disabled header title'}}">
                    {{=survey.name}}
                </h1>
                <div class="ui right floated dropdown basic button more-actions">
                    <div class="text">More actions</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item edit-project">
                            Edit project
                        </div>
                        <div class="item delete-project">
                            Delete project
                        </div>
                        <div class="item enable-project">
                            {{=survey.enabled ? 'Disable project' : 'Enable project'}}
                        </div>
                        <div class="divider"></div>
                        <div class="item clear-data">
                            Clear project data
                        </div>
                        <div class="item manage-forms">
                            Manage forms
                        </div>
                    </div>
                </div>
                <button class="ui right floated orange button deploy-project">Deploy project</button>
            </div>
        </div>
        <div class="ui three column equal width grid">
            <div class="column">
                <table class="ui very basic table">
                    <tbody>
                    <tr>
                        <td>Status</td>
                        <td id="project-status" class="right aligned">
                            {{=survey.status==1?'Deployed':'Draft'}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="ui computer only one wide column"></div>
            <div class="column">
                <table class="ui very basic table">
                    <tbody>
                    <tr>
                        <td>Owner</td>
                        <td id="project-owner" class="right aligned">{{=survey.user.fullName}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {{if (properties.length) { }}
        <div class="ui grid">
            <div class="sixteen wide column">
                <h2 class="ui header title">Properties</h2>
                <label for="upload-properties" class="ui right floated orange button">Upload properties</label>
                <input type="file" accept=".csv,.xls,.xlsx" id="upload-properties"/>
                <button class="ui right floated basic orange button add-property">Add property</button>
            </div>
        </div>
        <table class="ui selectable property table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{ _.each(properties, function (property) { }}
            <tr data-property-key="{{=property.key}}" class="{{=property.added?'added':property.deleted?'deleted':''}}">
                <td class="collapsing single line">
                    {{=property.key}}
                </td>
                <td>
                    {{=property.value}}
                </td>
                <td class="collapsing single line">
                        <span class="ui icon edit-property">
                            <i class="black edit link icon"></i>
                        </span>
                    <span class="ui icon delete-property">
                            <i class="black trash link icon"></i>
                        </span>
                </td>
            </tr>
            {{ }); }}
            </tbody>
        </table>
        {{ } else { }}
        <div class="ui placeholder segment">
            <div class="ui icon header">
                No properties under this project yet
            </div>
            <div class="inline">
                <label for="upload-properties" class="ui orange button">Upload properties</label>
                <input type="file" accept=".csv,.xls,.xlsx" id="upload-properties"/>
                <div class="ui basic orange button add-property">Add property</div>
            </div>
        </div>
        {{ } }}
    </div>
</script>
<script class="property-edit-template" type="text/x-underscore-template">
    <div class="ui modal">
        <div class="ui inverted dimmer">
            <div class="ui text loader">Saving data</div>
        </div>
        <div class="ui orange header">{{=property ? 'Edit' : 'Add'}} property</div>
        <div class="content">
            <form id="edit-form" class="ui form">
                <div class="ui visible positive message">
                    <strong>TIP: </strong>
                    Properties are name-value pairs used to tweak the app or to support calculated values.
                    <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/properties/what-are-properties"
                       target="_blank">
                        More on properties.
                    </a>
                </div>
                <input id="original-key" value="{{=property?property.key:''}}" type="hidden"/>
                <div class="field">
                    <label>Name<span id="key-error"></span></label>
                    <input name="key" value="{{=property?property.key:''}}" type="text" required="true"/>
                    <span class="optional label">Enter a unique name for this property.</span>
                </div>
                <div class="field">
                    <label>Value<span id="value-error"></span></label>
                    <input name="value" value="{{=property?property.value:''}}" type="text" required="true"/>
                    <span class="optional label">Enter the value for this property.</span>
                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui orange button edit-submit">{{=property ? 'Update' : 'Add'}} property</div>
            <div class="ui basic cancel button edit-cancel">Cancel</div>
        </div>
    </div>
</script>
<script th:inline="javascript">
    var survey = [[${ survey }]];
    var properties = [[${ properties }]];
    var userId = [[${ userId }]]; //id of operating account (could be the same as current user id)
    var currentUserId = [[${ currentUserId }]];
    var currentPage = VIEW_PAGE;
    var infoMessage;
    var errors;
</script>
<script th:src="@{/resources/js/survey.view.js}"></script>
<script th:src="@{/resources/js/survey.common.js}"></script>
<script th:src="@{/resources/js/form.common.js}"></script>
<script>
    $(document).ready(function () {
        refreshView();
    });
</script>
</body>

</html>