.invalid {
    font-size: x-small;
}

.button-divider {
    width: 10px;
    height: auto;
    display: inline-block;
}

.horizontal-scrollbar {
    overflow: auto;
}

.modal.with-dropdown {
    overflow-y: visible;
}

#to-join {
    margin-left: 20px;
}

.clickable {
    cursor: pointer;
}

.sort-handle {
    cursor: -webkit-grab;
    cursor: grab;
}

.sort-handle:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.sort-header {
    width: 52px;
}

.child-field, .ui.table td.child-field {
    padding-left: 30px;
}

.truncate {
    width: -webkit-fill-available;
    width: -moz-available;
    width: available;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
}

.nowrap {
    white-space: nowrap;
}

h5 .airtel, h5 .mpesa {
    width: auto;
    height: 25px;
    display: block;
    text-indent: -9999px;
    background-size: auto 25px;
    background-repeat: no-repeat;
}

.airtel {
    background-image: url('../img/airtel-logo.svg');
}

.mpesa {
    background-image: url('../img/mpesa-logo.svg');
}

.refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spinw {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spinm {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

.input-field.no-padding {
    margin-top: -.7rem;
}

.file-field .btn, .file-field .btn-large {
    float: right;
    margin-left: 10px;
}

.file-field .file-path-wrapper {
    padding-left: 0px;
}

.nav-wrapper .brand-logo .logo {
    margin-top: 5px;
    width: 87px;
    height: 47px;
}

.dashboard #fm-toolbar-wrapper {
    display: none;
}

.ui.header.title {
  display: inline;
}

.ui.table tr.disabled td {
  pointer-events: auto;
}

.ui.table tr.disabled td a.hide {
  color: rgba(40,40,40,.3);
  text-decoration: none;
}

.ui.table tr.disabled td a.hide:hover {
  color: rgba(40,40,40,.3);
  text-decoration: underline;
}

td a.hide {
  color: #3c4858;
  text-decoration: none;
}

td a.text:hover {
  text-decoration: none
}

.ui.attached.header.normal {
    font-weight: normal;
}

.ui.breadcrumb a:hover, td a:hover {
  text-decoration: underline;
}

.ui.massive.menu>.ui.container>a:first-of-type {
  margin-left: -1.14286em;
}

.ui.massive.menu>.ui.container>div.right.item {
    margin-right: -1.14286em;
}

.ui.menu .ui.container a:first-of-type {
  margin-left: -0.928571em;
}

.ui.grid>.row>.checkbox.column {
  width: 1.6%!important;
  padding-left: 0;
  padding-right: 0;
}

.resource.detail {
  font-size: .9em;
}

.optional.label {
  font-size: .9rem;
  font-weight: normal;
  color: rgba(0,0,0,.4);
}

.ui.table td.compact {
    padding: 0!important;
}

.CodeMirror-hints {
    z-index:1001 !important;
}

.ui.message .content {
    text-align: center;
}

div.breadcrumb-container {
    position: fixed;
    top: 3.5rem;
    left: 0;
    width: 100%;
    z-index: 100;
    background: white;
    padding: 0.8rem 0;

}

.scrolling.content .ui.form .field:last-child, .ui.form .fields:last-child .field {
    margin-bottom: 1em;
}