<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="shared/header::head"></div>
<link type="text/css" rel="stylesheet" th:href="@{/resources/css/choices.css}">

<body>
    <div th:replace="shared/menu::nav"></div>
    <main id="choice-group-container" style="margin-top:3rem;"></main>
    <div th:replace="shared/footer::foot"></div>
    <div th:replace="shared/footer::js"></div>
    <script th:inline="javascript">
        $(document).ready(function () {
            $('.ui.dropdown', '.ui.fixed.menu').dropdown({ action: 'hide' });
        });
    </script>
    <script th:src="@{/resources/js/vendor.js}"></script>
    <script th:src="@{/resources/js/choices.js}"></script>
</body>

</html>