<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="shared/header::head"></div>

<body>
    <div th:replace="shared/menu::nav"></div>
    <main style="margin-top: 3rem;" class="ui container">
        <div style="margin-top: 2rem;"></div>
        <div style="margin-top: 1rem" class="ui grid">
            <div class="sixteen wide column">
                <h2 class="ui header title">Webhooks</h2>
                <button th:if="${#lists.size(webhooks) > 0}" class="ui right floated orange button add-webhook">Add webhook</button>
            </div>
        </div>
        <div style="margin-top: 1rem;" id="webhook-list-container" class="col s12"></div>
    </main>
    <div id="modal-container"></div>
    <script class="webhook-list-template" type="text/x-underscore-template">
        {{ if (webhooks.length) { }}
        <table class="ui table">
            <tbody>
                {{ _.each(webhooks, function (webhook) { }}
                <tr data-webhook-id="{{=webhook.id}}">
                    <td>
                        {{=webhook.targetUrl}}
                        {{ if (webhook.active) { }}
                        <span data-tooltip="Connection is up.">
                            <i class="check circle icon"></i>
                        </span>
                        {{ } else { }}
                        <span data-tooltip="Connection is down.">
                            <i class="red exclamation circle icon"></i>
                        </span>
                        {{ } }}
                    </td>
                    <td class="collapsing">
                        <i class="black edit link icon edit-webhook"></i>
                        <i class="black trash link icon delete-webhook"></i>
                    </td>
                </tr>
                {{ }) }}
            </tbody>
        </table>
        {{ } else { }}
        <div class="ui placeholder segment">
            <h3 class="ui icon header">
                <div class="content">
                    There are no webhooks defined yet
                    <div class="sub header">
                        Add a webhook to forward data to by clicking on the button below.
                    </div>
                </div>
            </h3>
            <div class="ui orange button add-webhook">Create webhook</div>
        </div>
        {{ } }}
    </script>
    <script class="webhook-edit-template" type="text/x-underscore-template">
        <div class="ui modal">
            <div class="ui inverted dimmer">
              <div class="ui text loader">Saving data</div>
            </div>
            <div class="ui orange header">{{=webhook?'Edit':'Create'}} webhook</div>
            <div class="content">
                <div class="ui visible positive message">
                    <strong>TIP: </strong>
                    Register webhooks to forward data from Hoji to a third-party URL.
                    <a href="https://www.hoji.co.ke/support/#reamaze#0#/kb/api-integration/introduction-to-webhooks"
                       target="_blank">
                        More on webhooks.
                    </a>
                </div>
                <form id="edit-form" class="ui form">
                    <input type="hidden" name="id" value="{{=webhook?webhook.id:''}}" />
                    <input type="hidden" name="verified" value="{{=webhook?webhook.verified:''}}" />
                    <input type="hidden" name="active" value="{{=webhook?webhook.active:''}}" />
                    <input type="hidden" name="userId" value="{{=webhook?webhook.userId:userId}}" />
                    <div class="field">
                        <label>Target URL <span id="targetUrl-error"></span></label>
                        <input name="targetUrl" value="{{=webhook?webhook.targetUrl:''}}" placeholder="http(s)://..."
                                type="url" required pattern="https?://.+" class="validate" >
                        <span class="optional label">Enter the URL to which Hoji should foward data.</span>
                    </div>
                    <div class="field">
                        <label>Forms <span id="forms-error"></span></label>
                        <div class="ui search selection multiple dropdown forms">
                            <input name="forms" type="hidden">
                            <div class="text"></div>
                            <i class="dropdown icon"></i>
                        </div>
                        <span class="optional label">Select the form or forms for which data should be forwarded.</span>
                    </div>
                    <div class="field">
                        <label>Events <span id="eventTypes-error"></span></label>
                        {{ _.each(eventTypes, function(eventType, index) { }}
                            <div class="field">               
                                <div class="ui checkbox">
                                    <input type="checkbox" value="{{=eventType.value}}" name="eventTypes" {{=webhook && webhook.eventTypes.findIndex(function(et) { return et.value === eventType.value; }) > -1 ? checked="checked" : "" }}>
                                    <label>{{=eventType.label}}</label>
                                </div>
                            </div>
                        {{ }) }}
                        <span class="optional label">Select the events for which data should be forwarded.</span>
                    </div>
                </form>
            </div>
            <div class="actions">
                <div class="ui orange button edit-submit">{{=webhook ? 'Update' : 'Create'}} webhook</div>
                <div class="ui basic cancel button edit-cancel">Cancel</div>
            </div>
        </div>
    </script>
    <div th:replace="shared/resource-delete-template::resourceDeleteTemplate"></div>
    <div th:replace="shared/footer::foot"></div>
    <div th:replace="shared/footer::js"></div>
    <script th:src="@{/resources/js/webhook.list.js}"></script>
    <script th:inline="javascript">
        var webhooks = [[${ webhooks }]];
        var userId = [[${ userId }]];
        var forms = [[${ forms }]];
        var eventTypes = [[${ eventTypes }]];
        $(document).ready(function () {
            refreshView();
        });
    </script>
</body>

</html>