<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:fragment="head">
    <title>Hoji Server</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf?.token}">
    <meta name="_csrf_header" th:content="${_csrf?.headerName}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="stylesheet" th:href="@{/resources/min/semantic.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/resources/min/hoji.css}" media="screen,projection">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.min.css">
    <style>
        body {
            display: flex;
            flex-direction: column;
        }

        main {
            flex: 50 0 auto;
        }

        footer {
            margin-top: .4rem;
            flex: 1 0 auto;
        }
    </style>
</head>

<head th:fragment="codemirror">
  <link type="text/css" rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css">
  <link type="text/css" rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/theme/base16-light.min.css">
  <link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/addon/hint/show-hint.min.css">
</head>

</html>