<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <div class="ui inverted orange borderless massive fixed menu" th:fragment="nav">
    <div class="ui container">
      <a th:href="@{http://www.hoji.co.ke}" class="item">
        Hoji
      </a>
      <a th:href="@{/}" sec:authorize="isAuthenticated()" class="item">
        Projects
      </a>
      <a th:href="@{/choice-group}" sec:authorize="isAuthenticated()" class="item">
        Choices
      </a>
      <div sec:authorize="isAuthenticated()" class="ui right dropdown item">
        <span sec:authentication="principal.fullName"></span>
        <i class="dropdown icon"></i>
        <div class="menu">
          <a th:href="@{/user/view}" class="item">My Account</a>
          <a th:href="@{/admin/template/list}" sec:authorize="hasRole('SUPER')" class="item">Email Templates</a>
          <a th:href="@{/logout}" class="item">Sign out</a>
        </div>
      </div>
      <div sec:authorize="isAnonymous()" class="right menu">
        <a th:href="@{/signUp}" class="item">
          Create account
        </a>
        <a th:href="@{/signIn}" class="item">
          Sign in
        </a>
      </div>
    </div>
  </div>
</html>