<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:fragment="resourceDeleteTemplate">
    <script class="resource-delete-template" type="text/x-underscore-template">
        <div class="ui modal">
            <div class="ui inverted dimmer">
                <div class="ui text loader">Deleting {{=objectType}}</div>
            </div>
            <div class="ui red header">Delete {{=objectType}}</div>
            <div class="content">
                <div class="ui visible negative message">{{=deleteMessage}}</div>
                <div class="ui hidden info message">
                    <div class="content"></div>
                </div>
                {{ if (label) { }}
                <form id="delete-form" class="ui form">
                    <input id="id" name="id" value="{{=configObject.id}}" type="hidden"/>
                    <div class="field">
                        <label for="object-name">
                            {{=label}} <span id="name-error"></span>
                        </label>
                        <input id="object-name" name="name" type="text" required="true"/>
                        <span class="optional label">
                            {{=deleteHelpText}}
                            <a
                                href={{=deleteHelpLink}}
                                target="_blank">
                                    {{=deleteHelpLinkText}}
                            </a>
                        </span>
                    </div>
                </form>
                {{ } }}
            </div>
            <div class="actions">
                <div class="ui red button delete-submit">Delete {{=objectType}}</div>
                <div class="ui cancel basic button delete-cancel">Cancel</div>
            </div>
        </div>
    </script>
</div>
</html>