<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="shared/header::head"></div>

<body>
    <div th:replace="shared/menu::nav"></div>
    <main style="margin-top: 3rem;" class="ui container">
        <div style="margin-top: 2rem;"></div>
        <div style="margin-top: 1rem" class="ui grid">
            <div class="sixteen wide column">
                <h2 class="ui header title">Email templates</h2>
                <button class="ui right floated orange button add-email-template">Add email template</button>
            </div>
        </div>
        <div style="margin-top: 1rem;" id="email-template-list-container"></div>
    </main>
    <div id="modal-container"></div>
    <div th:replace="shared/footer::foot"></div>
    <div th:replace="shared/footer::js"></div>
    <script class="email-template-list-template" type="text/x-underscore-template">
        <table class="ui table">
            <tbody>
                {{ _.each(emailTemplates, function (emailTemplate) { }}
                <tr class="{{=emailTemplate.added?'added':''}}" data-email-template-id="{{=emailTemplate.id}}">
                    <td>{{=emailTemplate.eventType.label}}</td>
                    <td class="collapsing">
                        <i class="black edit link icon edit-email-template"></i>
                    </td>
                </tr>
                {{ }) }}
            </tbody>
        </table>
    </script>
    <script class="email-template-edit-template" type="text/x-underscore-template">
        <div class="ui fullscreen modal">
            <div class="ui inverted dimmer">
              <div class="ui text loader">Saving data</div>
            </div>
            <div class="ui orange header">{{=emailTemplate?'Edit':'Add'}} template</div>
            <div class="scrolling content">
                <form id="edit-form" class="ui form">
                    <input type="hidden" name="id" value="{{=emailTemplate?emailTemplate.id:''}}" />
                    <div class="field">
                        <label>Event type</label>
                        <div class="ui search selection dropdown event-type">
                            <input name="eventType" type="hidden">
                            <div class="text"></div>
                            <i class="dropdown icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <label>Template</label>
                        <textarea name="template">{{=emailTemplate?emailTemplate.template:''}}</textarea>
                    </div>
                </form>
            </div>
            <div class="actions">
                <div class="ui orange button edit-submit">{{=emailTemplate ? 'Update' : 'Add'}} email template</div>
                <div class="ui basic cancel button edit-cancel">Cancel</div>
            </div>
        </div>
    </script>
    <script th:src="@{/resources/js/admin.list.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/markitup/skins/markitup/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/markitup/sets/default/style.css}" />
    <script type="text/javascript" th:src="@{/resources/js/jquery.markitup.js}"></script>
    <script type="text/javascript" th:src="@{/resources/markitup/sets/default/set.js}"></script>
    <script th:inline="javascript">
        var emailTemplates = [[${ emailTemplates }]];
        var eventTypes = [[${ eventTypes }]];
        var infoMessage;
        $(document).ready(function () {
            refreshView();
        });
    </script>
    <style>
        .markItUp {
            width: 100%;
            margin: 5px 0 5px 0;
            border: 5px solid #F5F5F5;
        }

        .ui.form textarea[name="template"].markItUpEditor {
            font: 12px 'Courier New', Courier, monospace;
            padding: 5px 5px 5px 35px;
            border: 3px solid #3C769D;
            width: 100%;
            height: 90vh;
            background: #FFF;
            clear: both;
            line-height: 18px;
            overflow: auto;
        }
    </style>
</body>

</html>